<link rel="stylesheet" href="{{StaticUrlPrefix}}/css/vp-profile-compute.css?v={{MD5 AppVer}}" />

<div id="__vue-root"></div>

<script>
window.__INITIAL_STATE__ = {
  ownerName: "{{ .Owner.Name | js }}"
};
</script>
<script src="{{StaticUrlPrefix}}/js/vp-profile-compute.js?v={{MD5 AppVer}}"></script>

