<a href="{{.image_link}}" target="_blank"><img class="ui mini image" src="{{.image_url}}" style="width:100%;"></a>

<div class="ui secondary pointing menu">
    <div class="active item">
        推荐百科
    </div>
</div>
<div class="ui relaxed list">
    <div class="item">
        <i class="sticky note outline icon"></i>
        <div class="content">
            <div ><a href="https://openi.pcl.ac.cn/OpenI/aiforge/wiki">启智AI开发协同平台使用说明</a></div>
        </div>
    </div>
    <div class="item">
        <i class="sticky note outline icon"></i>
        <div class="content">
            <div ><a href="https://openi.pcl.ac.cn/OpenI/Paddle/wiki">启智飞桨 Paddle 2.0 项目手册</a></div>
        </div>
    </div>
    <div class="item">
        <i class="sticky note outline icon"></i>
        <div class="content">
            <div ><a href="https://openi.pcl.ac.cn/OpenI/aiforge/wiki/cloudbrain">启智社区使用云脑计算资源进行调试说明</a></div>
        </div>
    </div>
    <div class="item">
        <i class="sticky note outline icon"></i>
        <div class="content">
            <div ><a href="https://openi.pcl.ac.cn/PCL-Federated.Learning.Middleware/HiStar/wiki">海星HiStar：联邦深度学习中间件帮助文档</a></div>
        </div>
    </div>
    <div class="item">
        <i class="sticky note outline icon"></i>
        <div class="content">
            <div ><a href="https://openi.pcl.ac.cn/OpenI/octopus/wiki/启智章鱼">启智章鱼开源项目文档</a></div>
        </div>
    </div>
</div>