
{{template "base/head" .}}
<link rel="stylesheet" href="{{StaticUrlPrefix}}/css/vp-model-tts.css?v={{MD5 AppVer}}" />

<div id="__vue-root"></div>
<script src="{{StaticUrlPrefix}}/js/vp-model-tts.js?v={{MD5 AppVer}}"></script>
{{template "base/footer" .}}