{{template "base/head_home" .}}
<div class="ui container">
    <h1 class="ui center am-pt-30 am-pb-20">OpenI启智社区2024年度报告授权协议</h1>
    <div class="ui divider am-pb-10"></div>
    <p>
        感谢您阅读《OpenI启智社区2024年度报告授权协议》!在您正式使用OpenI启智社区2024年度报告之前应仔细阅读并充分理解本协议中的全部内容，如您不同意本协议中的任何条款，请立即停止使用OpenI启智社区2024年度报告。您使用OpenI启智社区2024年度报告的行为将被视为已经仔细阅读、充分理解并毫无保留地接受本协议所有条款。
    </p>
    
    <p>
        <strong>1. 制作年度报告</strong>
    </p>
    <p>
        OpenI启智社区2024年度报告将根据您在平台的历史信息，帮助您生成一份专属年度报告。为此，我们将使用2024自然年度您在OpenI启智社区产生的行为信息，包括但不限于用户名、注册时间、创建项目数、项目下载次数、commit次数、代码行数、创建数据集、上传数据集文件、数据集被收藏数、数据集下载数、云脑任务所有相关数据（ GPU/NPU 调试任务、训练任务、运行卡时）。您理解并同意，上述信息是OpenI启智社区生成年度报告的必备信息，如您拒绝授权使用，OpenI启智社区将无法为您制作并提供专属年度报告。未经您的书面同意，我们保证不以超越本协议约定范围使用您的个人信息。
    </p>
    <p>
        <strong>2. 使用年度报告</strong>
    </p>
    <p>
        OpenI启智社区提供的年度报告仅限您个人使用，您可自行留存欣赏或无偿分享、公开。您理解并同意，如因您分享、公开年度报告而产生的任何损失(包括但不限于个人信息泄露等)应由您自行承担，请您在分享、公开年度报告前审慎考虑。
    </p>
    <p>
        <strong>3. 知识产权</strong>
    </p>
    <p>
        年度报告及其内容(包括但不限于软件、技术、程序、网页、文字、图片、音频、视频、页面设计、商标等)的知识产权由OpenI启智社区享有，您理解并同意，您不得超越本协议目的使用年度报告中的内容素材，如您希望以任何形式将年度报告中的内容素材用于本协议约定范围之外，应当经过所有实际权利人的书面许可。
    </p>
    <p>
        <strong>4. 隐私政策</strong>
    </p>
    <p>
        其他本隐私保护指引未有涉及的，将适用<a target="_blank" href="/home/term/">《OpenI启智社区AI协作平台使用协议》</a>和<a target="_blank" href="/home/privacy/">《OpenI启智社区AI协作平台隐私协议》</a>。
    </p>

</div>
{{template "base/footer" .}}