{{template "base/head_home" .}}
<style>
    .text-indent {
        text-indent: 2em;
    }
</style>
<div class="ui container">
    <h1 class="ui center am-pt-30 am-pb-20">OpenI启智社区AI协作平台隐私协议</h1>
    <div class="ui divider am-pb-10"></div>
    <p class="text-indent">
        OpenI启智社区AI协作平台作为新一代人工智能领域开源开放开发协作平台，不仅为用户提供代码托管与数据集管理等服务，同时提供开发者所需的计算算力资源，一个良好的开发环境对用户、组织和项目都尤为重要。
    </p>
    <p class="text-indent">
        为切实保护平台用户隐私权，优化用户体验，OpenI启智社区根据现行法规及政策，制定本《OpenI启智社区AI协作平台隐私协议》。本协议将详细说明OpenI启智社区AI协作平台在获取、管理及保护用户个人信息方面的政策及措施。本协议适用于OpenI启智社区AI协作平台向您提供的所有服务，无论您是通过计算机设备、移动终端或其他设备获得本平台的服务。
    </p>   
    <p>
        <strong>一、个人信息的收集</strong>
    </p>
    <p class="text-indent">
        您已知悉且同意，在您注册本平台帐号或使用平台提供的服务时，本平台将记录您提供的相关个人信息，如：账号ID、密码、邮箱、手机号码等，上述个人信息是您获得平台提供服务的基础。
    </p>
    <p class="text-indent">
        在您使用本平台前，我们会引导您阅读本协议，并在您接受本协议的基础上，获得您的相关个人信息。如果您不同意提供个人信息，您将无法使用本平台的全部或部分功能和服务。
    </p>
    <p>
        <strong>二、个人信息的存储</strong>
    </p>
    <p class="text-indent">
        本平台会采取合适的安全措施和技术手段存储及保护您的个人信息，以防止丢失、被误用、受到未授权访问或泄漏、被篡改或毁坏。您的个人信息存放在有密码控制的位于中国境内的服务器中，访问均是受到限制的。
    </p>
    <p class="text-indent">
        根据本条款的规定，我们仅允许有必要知晓这些信息的平台员工等第三方访问个人信息，并要求他们履行相应的保密义务。
    </p>
    <p>
        <strong>三、个人信息的管理</strong>
    </p>
    <p class="text-indent">
        在完成平台账号注册并进行身份验证后，您可以查阅、修改、删除所提交的个人信息。一般情况下，您可随时浏览、修改、删除自己提交的信息，但出于安全性和身份识别的考虑，您可能无法修改注册时提供的某些初始注册信息及验证信息。
    </p>
    <p class="text-indent">
        您有权自主更新或更正您的个人信息，或授权本平台工作人员进行信息更新、更正。在您进行信息更新或更正之前，我们会首先验证您的身份。
    </p>
    <p class="text-indent">
        您可以自主注销本平台账号，注销后本平台不再收集您的个人信息，注销账号是不可逆的行为，一旦完成注销，本平台将删除有关您账户的一切信息。
    </p>
    <p>
        <strong>四、个人信息的保护</strong>
    </p>
    <p class="text-indent">
        本平台将尽一切合理努力保护其获得的用户个人信息。为防止用户个人信息在意外的、未经授权的情况下被非法访问、复制、修改、传送、遗失、破坏、处理或使用，本平台已经并将继续采取以下措施保护您的个人信息：<br>               
    </p>
    <ol style="text-indent:0.5em;">
        <li>以适当的方式对用户的个人信息进行加密护理，并通过隔离技术进行隔离；</li>
        <li>在适当的位置使用密码对用户个人信息进行保护；</li>
        <li>设立严格的数据使用和访问制度，采用严格的数据访问权限控制保护个人信息；</li>
        <li>其他合理措施。</li>
    </ol>
    <p class="text-indent">
        尽管已经采取了上述合理有效措施，并遵守相关法律规定要求的标准，但本平台仍然无法保证您的个人信息通过不安全途径进行交流时的安全性。因此，用户个人应采取积极措施保证个人信息的安全，如：定期修改账号密码，不将自己的账号密码等个人信息透露给他人。
    </p>
    <p class="text-indent">
        您知悉，本平台提供的个人信息保护措施仅适用于OpenI启智社区AI协作平台，一旦您离开本平台，浏览或使用其他网站、服务及内容资源，本平台即没有能力及义务保护您在本平台以外的网站提交的任何个人信息，无论您登录或浏览上述网站是否基于本平台的链接或引导。
    </p>
    <p>
        <strong>五、个人信息的使用和对外提供</strong>
    </p>
    <p class="text-indent">
        未经您本人允许，平台不会向任何第三方公开您的个人信息，下列情形除外：           
    </p>
    <ol style="text-indent:0.5em;">
        <li>本平台已经取得您或您监护人的授权或同意；</li>
        <li>司法机关或行政机关基于法定程序要求平台披露的；</li>
        <li>本平台为维护自身合法权益而向用户提起诉讼或仲裁时；</li>
        <li>根据您与本平台相关服务条款、应用许可使用协议的约定；</li>
        <li>在法律允许的范围内，为保障本平台、平台用户以及社会公共利益免受损害时；</li>
        <li>法律法规规定的其他情形。</li>
    </ol>
    <p>
        <strong>六、对未成年人个人信息的特别保护</strong>
    </p>
    <p class="text-indent">
        本平台非常重视对未成年人个人信息的保护。若您是18周岁以下的未成年人，在使用本平台的服务前，应确保事先取得监护人的同意，如您在平台上申请注册账号，本平台将默认为您已得到前述同意。本平台将根据国家相关法律法规及本协议的规定保护未成年人的个人信息。
    </p>
    <p>
        <strong>七、隐私协议的修改</strong>
    </p>
    <p class="text-indent">
        平台有权随时修改《OpenI启智社区AI协作平台隐私协议》的任何条款，一旦《OpenI启智社区AI协作平台隐私协议》内容发生变动，本平台将会在OpenI启智社区网站首页公告上公布修改后的政策，该公布行为视为本平台已经通知您修改内容。如果您不同意本平台对《OpenI启智社区AI协作平台隐私协议》相关条款所做的修改，您有权停止使用平台服务。如果您继续使用平台服务，则视为您接受平台对协议相关条款所做的修改。
    </p>

</div>
{{template "base/footer" .}}
