{{template "base/head_home" .}}
<style>
    p{display: flex;}
    p span:first-child{
        font-weight: 600;margin-right:5px;
    }
</style>
<div class="ui container">
    <h1></h1>
    <h1 style="text-align: center;">OpenI启智社区AI协作平台免责声明和服务使用规范</h1>
    <p style="font-size: 16px;">亲爱的用户您好！您在使用启智大模型服务（以下简称“本服务”）前，请您务必仔细阅读并理解透彻本 《免责声明和服务使用规范》（以下简称“本声明”）。请您知悉，如果您选择继续使用本服务，意味着您充分知悉并接受以下使用条件：</p>
    <h1>一、免责声明</h1>
    <p><span >1.</span><span>请您确保您所输入的内容未侵害他人权益，未涉及不良信息，同时未输入与政治、暴力、色情相关的内容，且所有输入内容均合法合规。</span></p>
    <p><span>2.</span><span>您确认并知悉本服务生成的所有内容均由人工智能模型生成，生成内容具有不完全理性，我方对其生成内容的准确性、完整性和功能性不做任何保证，亦不承担任何法律责任。我们会尽可能为您提供准确且优质稳定的技术服务，但由人工智能模型生成的内容均不代表我们的态度、观点或立场。</span></p>
    <p><span>3.</span><span>我们的服务在法律法规允许的范围内进行数据训练，内容包括但不限于公开互联网的信息积累，且所有内容均已在不断的进行自动及人工敏感数据库过滤来确保内容理解和生成的准确性，但仍不排除其中有部分信息存在一定的敏感性、非合理性或导致理解歧义的问题存在，如您将生成的敏感性内容或非理性及有理解歧义的内容进行公开传播，由此造成的侵权、纠纷、损失将由您自行承担，我们对此概不负责，亦不承担任何法律责任，如引发法律追责，您将负全部主要责任。</span></p>
    <p><span>4.</span><span>本服务会根据您输入的内容进行生成，如生成内容引起您的质疑或引发不适，欢迎您随时反馈至邮箱secretariat@openi.org.cn，我们将对您的意见进行高度重视并采取及时有效的处理措施，同时对您表示十分感谢，但您对有质疑或引发不适的生成内容进行恶意传播并产生负面影响时，我方无须承担任何法律责任。</span></p>
    <p><span>5.</span><span>您充分知晓并保证您在本服务时输入的内容，以及生成的内容均享有合法的使用权，若在发布或使用时发生权利纠纷或侵犯了任何第三方的合法权益，由您承担全部的法律责任。</span></p>
    <p><span>6.</span><span>您确保在阅读本服务协议时已详尽知晓并理解本服务协议的全部内容，在使用时须严格按照“服务使用规范”的相关说明进行服务调用及输入，若您在使用过程中违反相关规范并被检测到，将会立即暂停您的服务使用权限，由此带来的相关后果将由您自行承担，我们无须承担任何法律责任及赔偿责任。</span></p>
    <p><span>7.</span><span>请您确认使用本服务时输入的内容将不包含您本人及他人的个人信息，且您的输入内容将不被认为是您的个人隐私资料。</span></p>
    <p><span>8.</span><span>由于系统发生故障导致影响本服务的正常运行，我们承诺及时处理并进行修复，但用户因此而产生的纠纷和损失，我们概不负责，亦不承担任何法律责任。</span></p>
    <p><span>9.</span><span>我们有权因业务发展或法律法规的变动进而对本平台所提供的内容或使用方式进行变动，也可暂停或终止本平台的相关服务。在暂停或终止本平台的相关服务前，将会在平台发布公告，因您未及时关注公告详情而导致的一切后果，我们不承担任何法律责任。</span></p>
    <p><span>10.</span><span>在任何情况下，我们均不会因本平台的相关服务所发生的任何直接性、间接性、后果性、惩戒性、偶然性、特殊性的损害(包括但不限于：您使用本服务而遭受的利润损失)，承担任何责任(即使您已事先被告知该损害发生的可能性)。</span></p>
    <p><span>11.</span><span>若您违反本协议中的任一条款，则我们有权随时单方面终止本服务协议，且我们无需承担任何责任。同时我们有权根据实际遭受的损失向您请求赔偿。</span></p>
    <h1>二、服务使用规范</h1>
    <p ><span>1.</span><span>请您确保您所输入的内容未侵害他人权益，未涉及不良信息，同时未输入与政治、暴力、色情相关的内容，且所有输入内容均合法合规。</span></p>
    <p>
        （1）反对宪法所确定的基本原则的；<br>
        （2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br>
        （3）损害国家荣誉和利益的；<br>
        （4）煽动民族仇恨、民族歧视、破坏民族团结的；<br>
        （5）破坏国家宗教政策，宣扬邪教和封建迷信的；<br>
        （6）散布谣言，扰乱社会秩序，破坏社会稳定的；<br>
        （7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；<br>
        （8）侮辱或者诽谤他人，侵害他人合法权利的；<br>
        （9）含有虚假、诈骗、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；<br>
        （10）含有中国或其它您所在国国家管辖范围内，所适用的法律、法规、规章、条例以及任何具有法律效力的规范所限制或禁止的其它内容的。
    </p>
    <p ><span>2.</span><span>您保证，不得并禁止直接或间接的</span></p>
    <p>
        （1）删除、隐匿、改变本服务平台显示或其中包含的任何专利、版权、商标或其他所有权声明；<br>
        （2）以任何方式干扰或企图干扰本服务平台任何部分或功能的正常运行；<br>
        （3）避开、尝试避开或声称能够避开任何内容保护机制或者本服务平台的数据度量工具；
    </p>
    <p ><span>3.</span><span>用户违反上述任何一款的保证，我方均有权就其情节，对其做出警告、屏蔽、直至取消资格的处罚；如因用户违反上述保证而给本服务平台及平台所服务的用户或任何合作伙伴造成损失，用户自行负责承担一切法律责任并赔偿损失。</span></p>
    <p ><span>4.</span><span>如您在使用本服务时，输入内容不符合规范且生成了不符合规范的图像或文本，我们将在后台对您的图像或文本进行筛查并删除，如您将该图像或文本用于不良传播，您将承担相应的法律责任，而平台无须承担任何责任。</span></p>
    <p ><span>5.</span><span>您使用本服务时不得侵害他人权益（包括但不限于著作权、专利权、商标权、肖像权等知识产权与其他权益）。您同意并承诺，您使用本服务所提供、使用的文本内容已获得了充分、必要且有效的合法许可及授权，同时您同意并承诺在使用本服务时，不会披露任何保密、敏感或个人隐私等信息。</span></p>
    <p ><span>6.</span><span>您同意并承诺，本服务以及因使用本服务所取得的任何产出或成果，仅限您本人用于学术测试目的，未经我方事前书面同意，您不得将本服务产出或成果用于任何商业或其他目的与用途，且不得自行或透过他人以任何方式或载体向第三方披露、提供、转发、传播或公开。</span></p>
    <p ><span>7.</span><span>您在本服务平台上的全部行为应符合法律法规底线、社会主义制度底线、国家利益底线、公民合法权益底线、社会公共秩序底线、道德风尚底线、信息真实性底线。 您必须为自己注册帐号下的一切行为负责，包括您所发表的任何内容以及由此产生的任何后果。您应对本服务中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的合法性、正确性、完整性或实用性的依赖而产生的风险。我方无法且不会对因前述风险而导致的任何损失或损害承担责任。</span></p>
    <p ><span>8.</span><span>如果本服务平台发现或收到他人举报或投诉用户违反本服务协议约定的，本服务平台有权不经通知随时对相关内容进行删除，并视行为情节对违规帐号处以包括但不限于警告、限制或禁止使用部分或全部功能、帐号封禁直至注销的处罚，并公告处理结果。</span></p>
    <p ><span>9.</span><span>您理解并同意，本服务平台有权依合理判断对违反有关法律法规或本协议规定的行为进行处罚，对违法违规的任何用户采取适当的法律行动，并依据法律法规保存有关信息向有关部门报告等，用户应独自承担由此而产生的一切法律责任。</span></p>
    <p ><span>10.</span><span>您理解并同意，因您违反本协议或相关服务条款的规定，导致或产生第三方主张的任何索赔、要求或损失，您应当独立承担责任；本平台因此遭受损失的，您也应当一并赔偿。</span></p>
</div>
{{template "base/footer" .}}
