
<!-- 仓库 - 训练任务对比 -->
{{template "base/head" .}}
<div class="repository">
  <style>.full.height{padding-bottom:0;}</style>
	{{template "repo/header" .}}
  <iframe frameborder="0" width="100%" height="990" allowfullscreen src="{{AppSubUrl}}/pch/AIStudio/mlops/train-comparison/repo/{{.Repository.ID}}?name={{.Repository.Name}}&lang={{.Language}}&_csrf={{.CsrfToken}}"></iframe>
</div>
{{template "base/footer" .}}
