<link rel="stylesheet" href="{{StaticUrlPrefix}}/css/galaxy-login.css?v={{MD5 AppVer}}&g=5"/>
<div class="galaxy-bg" id="galaxy-bg" aria-hidden="true"></div>
<script src="{{StaticUrlPrefix}}/js/galaxy-bg.js?v={{MD5 AppVer}}&g=5" defer></script>
