{{template "base/head" .}}
<div class="admin user">
	{{template "admin/navbar" .}}
	<div class="ui container">
		<div id="__vue-root"></div>
	</div>
</div>
<script src="{{StaticUrlPrefix}}/js/vp-aimodel-admin.js?v={{MD5 AppVer}}"></script>
{{template "base/footer" .}}