{{/*
<html>
<body>
	<div>
*/}}

	{{template "custom/body_inner_post" .}}

	</div>

	{{template "custom/body_outer_post" .}}
	{{if not .IsNewAgree}}
		{{template "user/auth/network_security" .}}
	{{end}}
	{{template "base/footer_content" .}}

	<script src="{{StaticUrlPrefix}}/js/jquery.js?v={{MD5 AppVer}}"></script>
	<script src="{{StaticUrlPrefix}}/js/jsencrypt.min.js?v={{MD5 AppVer}}"></script>

	
{{if .RequireSimpleMDE}}
	<script src="{{StaticUrlPrefix}}/vendor/plugins/simplemde/simplemde.min.js?v={{MD5 AppVer}}"></script>
	<script src="{{StaticUrlPrefix}}/vendor/plugins/codemirror/addon/mode/loadmode.js?v={{MD5 AppVer}}"></script>
	<script src="{{StaticUrlPrefix}}/vendor/plugins/codemirror/mode/meta.js?v={{MD5 AppVer}}"></script>
	<script>
		CodeMirror.modeURL =  "{{StaticUrlPrefix}}/vendor/plugins/codemirror/mode/%N/%N.js";
	</script>
{{end}}

<!-- Third-party libraries -->
{{if .RequireMinicolors}}
	<script src="{{StaticUrlPrefix}}/vendor/plugins/jquery.minicolors/jquery.minicolors.min.js?v={{MD5 AppVer}}"></script>
{{end}}
{{if .RequireU2F}}
	<script src="{{StaticUrlPrefix}}/vendor/plugins/u2f/index.js?v={{MD5 AppVer}}"></script>
{{end}}
{{if .EnableCaptcha}}
	{{if eq .CaptchaType "recaptcha"}}
		<script src='{{ URLJoin .RecaptchaURL "api.js"}}' async></script>
	{{end}}
{{end}}
{{if .RequireTribute}}
	<script src="{{StaticUrlPrefix}}/vendor/plugins/tribute/tribute.min.js?v={{MD5 AppVer}}"></script>
{{end}}
<script src="{{StaticUrlPrefix}}/fomantic/semantic.min.js?v={{MD5 AppVer}}"></script>
{{if not .PageIsHome}}
	<script src="{{StaticUrlPrefix}}/js/index.js?v={{MD5 AppVer}}"></script>
{{end}}
	
{{template "custom/footer" .}}

	
{{if .PageIsHome}}
	<!--script src="https://www.jq22.com/jquery/jquery-1.10.2.js?v={{MD5 AppVer}}"></script-->	
	<script src="/rotation3D/vue-2.6.10.min.js?v={{MD5 AppVer}}"></script>	
	<script src="/rotation3D/rotation3D.js?v={{MD5 AppVer}}"></script>
	<script src="{{StaticUrlPrefix}}/js/home.js?v={{MD5 AppVer}}" type="text/javascript"></script>	
{{end}}
</body>
</html>
	