{{template "base/head" .}}
<link rel="stylesheet" href="{{StaticUrlPrefix}}/css/vp-aitasktmpl-edit.css?v={{MD5 AppVer}}" />
<div><div id="__vue-root"></div></div>
<script src="{{StaticUrlPrefix}}/js/vp-aitasktmpl-edit.js?v={{MD5 AppVer}}"></script>
{{template "base/footer" .}}
