{{template "base/head" .}}
{{if .IsRepo}}<div class="repository">{{template "repo/header" .}}</div>{{end}}

<div class="ui container center" style="min-height: 70%;">
	<div class="ui basic very padded segment">
		<img class="ui centered medium image" src="{{StaticUrlPrefix}}/img/icon-403@2x.png">
	
		<h2>{{.i18n.Tr "error404_index"}}</h2>
		<p>{{.i18n.Tr "error404" | Safe}}</p>
	</div>
</div>

{{template "base/footer" .}}