<div class="_hm-repo-container">
  <div class="_hm-repo-wrap _hm-container">
    <div class="ui center">
      <h2>{{.i18n.Tr "home.community_resources"}}</h2>
      <p>
        <span class="ui text grey">{{.i18n.Tr "home.community_resources_desc"}}</span>
      </p>
    </div>
    
    <div class="_hm-template-area pannel_z">
      <div class="template-wrap _hm_common-l-r-struct">
        <div class="_hm-left-sidebar">
          <div class="icon template-icon">
            <img src="/img/home/template.svg" alt="">
          </div>
          
          <div class="title" style="color: #9684ff;">{{.i18n.Tr "admin.computing_task_template"}}</div>
          <div class="desc">
            {{.i18n.Tr "home.open_source_template_desc"}}
          </div>
          <a href="/ai_task_tmpl/list">{{.i18n.Tr "home.enter_template_base"}}</a>
        </div>
        <div class="_hm-right-content">
          <div class="" id="template-cards">
      
          </div>
        </div>
      </div>
    </div>

    <div class="_hm-model-area pannel_z">
      <div class="model-wrap _hm_common-l-r-struct">
        <div class="_hm-left-sidebar">
          <div class="icon _hm-model-icon">
            <img src="/img/home/model.svg" alt="">
          </div>
          
          <div class="title" style="color: #FF8900;">{{.i18n.Tr "home.search_model"}}</div>
          <div class="desc">
            {{.i18n.Tr "home.open_source_model_desc"}}
          </div>
          <a href="/explore/models">{{.i18n.Tr "home.enter_model_base"}}</a>
        </div>
        <div class="_hm-right-content">
          <div class="_hm-three-cloumns" id="model-cards">
      
          </div>
        </div>
      </div>
    </div>
    <div class="_hm-data-area pannel_z">
      <div class="data-wrap _hm_common-l-r-struct">
        <div class="_hm-left-sidebar">
          <div class="icon data-icon">
            <img src="/img/home/dataset.svg" alt="">
          </div>
          
          <div class="title" style="color: #11b100;">{{.i18n.Tr "home.datasets"}}</div>
          <div class="desc">
            {{.i18n.Tr "home.open_source_data_desc"}}
          </div>
          <a href="/explore/datasets">{{.i18n.Tr "home.enter_data_base"}}</a>
        </div>
        <div class="_hm-right-content">
          <div class="_hm-four-cloumns" id="data-cards">
          </div>
        </div>
      </div>
    </div>
    <div class="_hm-repo-area pannel_z">
      <div class="repo-wrap _hm_common-l-r-struct">
        <div class="_hm-left-sidebar">
          <div class="icon repo-icon">
            <img src="/img/home/repo.svg" alt="">
          </div>
          
          <div class="title" style="color: #0026ff;">{{.i18n.Tr "repository"}}</div>
          <div class="desc">
            {{.i18n.Tr "home.open_source_project_desc"}}
          </div>
          <a href="/explore/repos/square">{{.i18n.Tr "home.enter_repo_base"}}</a>
        </div>
        <div class="_hm-right-content">
          <div class="_hm-three-cloumns" id="repo-cards">
              
          </div>
        </div>
      </div>
    </div>
      
  </div>

</div>




