<div class="homeuserexp-bg">
  <div class="ui container homeuserexp _hm-container">
    <div class="ui stackable grid">
      <div class="sixteen wide tablet four wide computer column mobile-text-align-center">
        <h2>{{.i18n.Tr "home.experience_officer"}}</h2>
        <p><a href="https://openi.org.cn/index.php?m=content&c=index&a=lists&catid=220">{{.i18n.Tr "home.openi_experience_officer_plan"}}</a><span class="ui text grey">{{.i18n.Tr "home.more_benefits"}}</span></p>
      </div>
      <div class="sixteen wide tablet twelve wide computer column">      
        <div class="home-user-exp-list">
          <div class="swiper-wrapper" id="home_user-exp"></div>
          <div style="display:none;" class="swiper-button-prev"></div>
          <div style="display:none;" class="swiper-button-next"></div>
        </div>
        <div class="swiper-prev"><i class="ri-arrow-left-line prev-next-i"></i></div>
        <div class="swiper-next"><i class="ri-arrow-right-line prev-next-i"></i></div>
      </div>
    </div>        
  </div>
</div>
