<div class="_hm-activate-container">
  <div class="ui container _hm-activate-wrap">
    <div class="_hm-activate-header">
      <div class="ui center">
          <h2>{{.page_recommend_activity}}</h2>
          <p>
              <span class="ui text grey">{{.page_recommend_activity_desc}}</span>
          </p>
      </div>
      
    </div>
    <div class="activate-list" style="overflow: hidden;">
      <div class="swiper-wrapper" id="recommendactivity"></div>
    </div>
  </div>
</div>
