<div class="homepro-bg">
  <div class="ui container homepro _hm-container" style="padding-top:4rem;padding-bottom:3rem;">
    <div class="ui stackable grid">
      <div class="sixteen wide tablet four wide computer column mobile-text-align-center">
        <h2>{{.page_recommend_repo}}</h2>
        <p><span class="ui text grey">{{.page_recommend_repo_desc}}&nbsp;</span><a href="{{.RecommendURL}}">{{.page_recommend_repo_commit}}</a>&nbsp;<span class="ui text grey">{{.page_recommend_repo_go}}</span>&nbsp;<a href="{{AppSubUrl}}/explore/">{{.page_recommend_repo_more}}</a></p>
      </div>
      <div class="sixteen wide tablet twelve wide computer column">
        <div class="homepro-list">
          <div class="swiper-wrapper" id="recommendrepo"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>  
  </div>
</div>
