{{template "base/head" .}}
<div class="repository dataset dir-list view">
	{{template "repo/header" .}}
	<form class="ui container">
    <div class="ui stackable grid {{if .Error}}hide{{end}}" id="dir-content">
      <div class="row">
        <div class="column sixteen wide">
          <p>
            {{ range $index, $item := .Path }}<a href='{{$.Link}}/?parentDir={{if gt $index 0}}{{DatasetPathJoin $.Path $index "/"}}{{else}}{{end}}'>{{ $item }}</a><span class="directory-seperator">/</span>{{ end }}
          </p>
        </div>
      </div>
    </div>

    <div class="ui grid">
      <div class="row">
        <div class="ui sixteen wide column">
          <div class="dir list">
            {{template "repo/modelarts/trainjob/models/dir_list" .}}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>



{{template "base/footer" .}}
