
{{template "base/head" .}}
<link rel="stylesheet" href="{{StaticUrlPrefix}}/css/vp-llms-create.css?v={{MD5 AppVer}}" />
    <div id="__vue-root"></div>
<script src="{{StaticUrlPrefix}}/js/vp-llms-create.js?v={{MD5 AppVer}}"></script>
{{template "base/footer" .}}