/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/pages/modelbase-portal/views/iframe/Iframe.vue?vue&type=style&index=0&id=0c4b6bb4&scoped=true&lang=less ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.iframe-c[data-v-0c4b6bb4] {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}
.iframe-c .iframe[data-v-0c4b6bb4] {
  border: none;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

