/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/pages/modelbase-portal/components/Header.vue?vue&type=style&index=0&id=2610e984&scoped=true&lang=less ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.main-header[data-v-2610e984] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px 0 20px;
}
.main-header .area-l .area-l-title[data-v-2610e984] {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 28px;
}
.main-header .area-l .area-l-title .separator[data-v-2610e984] {
  color: #6f76a5;
  font-family: SourceHanSansSC;
  margin-right: 10px;
}
.main-header .area-l .area-l-title .label[data-v-2610e984] {
  line-height: 39px;
  margin-right: 10px;
  font-family: SourceHanSansSC;
  font-weight: 500;
}
.main-header .area-l .area-l-title .label.link[data-v-2610e984] {
  color: #0366d6;
  font-weight: 400;
  cursor: pointer;
}
.main-header .area-l .area-l-title .label.link[data-v-2610e984]:hover {
  color: rgba(3, 102, 214, 0.8);
}
.main-header .area-l .area-l-title i[data-v-2610e984] {
  color: #919191;
  font-size: 16px;
  margin-left: 8px;
}
.main-header .area-l .area-l-title .task-status[data-v-2610e984] {
  display: flex;
  align-items: center;
  margin-right: 12px;
  margin-left: 10px;
}
.main-header .area-l .area-l-title .task-status i[data-v-2610e984],
.main-header .area-l .area-l-title .task-status span[data-v-2610e984] {
  margin-right: 4px;
  font-size: 14px;
}
.main-header .area-l .special-label[data-v-2610e984] {
  line-height: 39px;
  margin-right: 10px;
  font-family: SourceHanSansSC;
  font-size: 28px;
  font-weight: 500;
}
.main-header .real-r[data-v-2610e984] {
  margin-left: 20px;
}
.descr[data-v-2610e984] {
  color: #505559;
  font-size: 14px;
  font-family: SourceHanSansSC;
  font-weight: 400;
  line-height: 20px;
  margin-top: 8px;
  padding-left: 20px;
}
/* 手机端样式 */
@media (max-width: 768px) {
.area-l .area-l-title .lable[data-v-2610e984] {
    font-size: 22px !important;
}
.area-l .special-label[data-v-2610e984] {
    display: none;
}
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/pages/modelbase-portal/views/relatedtools/RelatedTools.vue?vue&type=style&index=0&id=4cdaa6c6&scoped=true&lang=less ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.content-box[data-v-4cdaa6c6] {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content-box .main-body[data-v-4cdaa6c6] {
  flex: 1;
  height: 0;
  position: relative;
  margin-right: 16px;
}
.content-box .main-body .content[data-v-4cdaa6c6] {
  height: calc(100% - 32px);
  margin-top: 16px;
  margin-bottom: 16px;
  overflow-y: auto;
  padding: 0 10px 10px 10px;
  scroll-behavior: smooth;
}
.content-box .main-body .content .tools-list[data-v-4cdaa6c6] {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  flex-wrap: wrap;
}
.content-box .main-body .content .tools-list .tool-item[data-v-4cdaa6c6] {
  flex: 1;
  border-radius: 10px;
  max-width: 440px;
  min-width: 340px;
  box-shadow: rgba(157, 197, 226, 0.2) 0px 5px 10px 0px;
  padding: 20px;
  margin-bottom: 32px;
  margin-left: 20px;
  margin-right: 20px;
}
.content-box .main-body .content .tools-list .tool-item .title[data-v-4cdaa6c6] {
  color: #ffffff;
  font-size: 18px;
  font-family: SourceHanSansSC;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  padding: 0 30px;
}
.content-box .main-body .content .tools-list .tool-item .descr[data-v-4cdaa6c6] {
  color: #ffffff;
  font-size: 14px;
  font-family: SourceHanSansSC;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  padding: 0 30px;
  margin-top: 12px;
  opacity: 0.8;
}
.content-box .main-body .content .tools-list .tool-item .detail[data-v-4cdaa6c6] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  padding: 0 36px;
}
.content-box .main-body .content .tools-list .tool-item .detail a[data-v-4cdaa6c6] {
  color: #ffffff;
  font-size: 14px;
  font-family: SourceHanSansSC;
  font-weight: 300;
  line-height: 20px;
}
.content-box .main-body .content .tools-list .tool-item .detail a i[data-v-4cdaa6c6] {
  margin-left: 4px;
}
.content-box .main-body .content .tools-list .tool-item .detail a[data-v-4cdaa6c6]:hover {
  opacity: 0.8;
}
.content-box .main-body .content .tools-list .tool-item.bg-1[data-v-4cdaa6c6] {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%221%22%20x1%3D%220%22%20x2%3D%221%22%20y1%3D%220%22%20y2%3D%220%22%20gradientTransform%3D%22matrix(-0.9550000000000001%2C%200.6080000000000002%2C%20-0.05927810079133697%2C%20-0.9550000000000001%2C%200.949%2C%200)%22%3E%3Cstop%20stop-color%3D%22%23009dff%22%20stop-opacity%3D%221%22%20offset%3D%220.02%22%3E%3C%2Fstop%3E%3Cstop%20stop-color%3D%22%23007fff%22%20stop-opacity%3D%221%22%20offset%3D%221%22%3E%3C%2Fstop%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22url(%231)%22%3E%3C%2Frect%3E%3C%2Fsvg%3E");
}
.content-box .main-body .content .tools-list .tool-item.bg-2[data-v-4cdaa6c6] {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%221%22%20x1%3D%220%22%20x2%3D%221%22%20y1%3D%220%22%20y2%3D%220%22%20gradientTransform%3D%22matrix(-0.9550000000000001%2C%200.6080000000000002%2C%20-0.05927810079133697%2C%20-0.9550000000000001%2C%200.949%2C%200)%22%3E%3Cstop%20stop-color%3D%22%23687dd0%22%20stop-opacity%3D%221%22%20offset%3D%220%22%3E%3C%2Fstop%3E%3Cstop%20stop-color%3D%22%232758c3%22%20stop-opacity%3D%221%22%20offset%3D%221%22%3E%3C%2Fstop%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22url(%231)%22%3E%3C%2Frect%3E%3C%2Fsvg%3E");
}
@media screen and (min-width: 1300px) {
.content-box .main-body .content .tools-list .tool-item[data-v-4cdaa6c6] {
    margin-left: 30px;
    margin-right: 30px;
}
}

