/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/pages/computingpower/domestic/index.vue?vue&type=style&index=0&id=24644767&scoped=true&lang=less ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.top-field[data-v-24644767] {
  text-align: center;
  padding-top: 42px;
  margin-bottom: 20px;
}
.top-field .title[data-v-24644767] {
  color: #101010;
  font-size: 28px;
  margin-bottom: 24px;
}
.top-field .descr[data-v-24644767] {
  color: rgba(136, 136, 136, 0.87);
  font-size: 14px;
}
.sort-field[data-v-24644767] {
  margin-bottom: 20px;
}
.sort-field .sort-conds[data-v-24644767] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sort-field .sort-conds .sort-tab-c[data-v-24644767] {
  display: flex;
  margin-bottom: 16px;
  margin-right: 20px;
}
.sort-field .sort-conds .sort-tab-c .tab[data-v-24644767] {
  width: 110px;
  height: 40px;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-style: solid;
  color: #101010;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: none;
  cursor: pointer;
}
.sort-field .sort-conds .sort-tab-c .tab[data-v-24644767]:first-child {
  border-radius: 4px 0px 0px 4px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.sort-field .sort-conds .sort-tab-c .tab[data-v-24644767]:last-child {
  border-radius: 0px 4px 4px 0px;
}
.sort-field .sort-conds .sort-tab-c .tab.active[data-v-24644767] {
  color: #5bb973;
  border-color: #21ba45;
  border-left: 1px solid #21ba45;
}
.sort-field .sort-conds .sort-type-c[data-v-24644767] {
  margin-bottom: 16px;
}
.sort-field .table-container .table[data-v-24644767] .el-table__header th {
  background: #f1f8ff;
  color: #101010;
  font-size: 14px;
}
.sort-field .table-container .table[data-v-24644767] .el-table__header th span {
  font-weight: normal;
}
.sort-field .table-container .table[data-v-24644767] .el-table__body td {
  font-size: 14px;
}
.sort-field .table-container .table-bar[data-v-24644767] {
  width: 100%;
  display: flex;
  align-items: center;
  min-width: 200px;
}
.sort-field .table-container .table-bar .bar-c[data-v-24644767] {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sort-field .table-container .table-bar .bar-c .bar[data-v-24644767] {
  overflow: hidden;
  height: 8px;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%221%22%20x1%3D%220%22%20x2%3D%221%22%20y1%3D%220%22%20y2%3D%220%22%20gradientTransform%3D%22matrix(-0.9910000000000001%2C%20-0.014999999999999873%2C%200.000003944485025566073%2C%20-0.9910000000000001%2C%200.999%2C%200.125)%22%3E%3Cstop%20stop-color%3D%22%233291f8%22%20stop-opacity%3D%221%22%20offset%3D%220%22%3E%3C%2Fstop%3E%3Cstop%20stop-color%3D%22%23c9bcea%22%20stop-opacity%3D%221%22%20offset%3D%221%22%3E%3C%2Fstop%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22url(%231)%22%3E%3C%2Frect%3E%3C%2Fsvg%3E");
}
.sort-field .table-container .table-bar .bar-c .bar div[data-v-24644767] {
  float: right;
  height: 100%;
  background-color: white;
  width: 8px;
  margin-right: 8px;
  border-top: 1px solid #cce4fd;
  border-bottom: 1px solid #cce4fd;
  box-sizing: border-box;
}
.sort-field .table-container .table-bar .bar-value[data-v-24644767] {
  width: 100px;
  margin-left: 16px;
}
.partners-field[data-v-24644767] {
  margin-top: 42px;
  text-align: center;
}
.partners-field .partners-title[data-v-24644767] {
  color: #101010;
  font-size: 18px;
  margin-bottom: 10px;
}
.partners-field .partners-c[data-v-24644767] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.partners-field .partners-c .img-c[data-v-24644767] {
  width: 170px;
  height: 80px;
  margin: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.partners-field .partners-c .img-c img[data-v-24644767] {
  max-height: 100%;
  max-width: 100%;
}
.apply-field[data-v-24644767] {
  margin-top: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apply-field .apply-btn[data-v-24644767] {
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(30deg, #3bb6fe 13.4%, #8e4cb7 85.87%);
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.card-field[data-v-24644767] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}
.card-field .card[data-v-24644767] {
  width: 45%;
  min-width: 300px;
  max-width: 650px;
  border-radius: 10px;
  border-color: rgba(201, 188, 234, 0.4);
  border-width: 1px;
  border-style: solid;
  box-shadow: rgba(157, 197, 226, 0.2) 0px 5px 10px 0px;
  margin: 20px;
  padding: 28px;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%221%22%20x1%3D%220%22%20x2%3D%221%22%20y1%3D%220%22%20y2%3D%220%22%20gradientTransform%3D%22matrix(-0.41100000000000014%2C%201.129%2C%20-0.9330578512396693%2C%20-0.41100000000000014%2C%200.911%2C%20-0.129)%22%3E%3Cstop%20stop-color%3D%22%23f1ebff%22%20stop-opacity%3D%221%22%20offset%3D%220.005%22%3E%3C%2Fstop%3E%3Cstop%20stop-color%3D%22%23eef2ff%22%20stop-opacity%3D%221%22%20offset%3D%220.19%22%3E%3C%2Fstop%3E%3Cstop%20stop-color%3D%22%23ffffff%22%20stop-opacity%3D%221%22%20offset%3D%220.59%22%3E%3C%2Fstop%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22url(%231)%22%3E%3C%2Frect%3E%3C%2Fsvg%3E");
}
.card-field .card .title-c[data-v-24644767] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.card-field .card .title-c .title[data-v-24644767] {
  font-weight: 700;
  font-size: 16px;
  color: #101010;
}
.card-field .card .title-c .icon-c[data-v-24644767] {
  min-width: 120px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.card-field .card .title-c .icon-c img[data-v-24644767] {
  max-height: 100%;
}
.card-field .card .descr-c[data-v-24644767] {
  line-height: 24px;
  color: #101010;
  font-size: 14px;
}
.card-field .card .descr-c p[data-v-24644767] {
  margin-bottom: 8px;
  line-height: 24px;
}
.card-field .card .feature-c[data-v-24644767] {
  font-size: 14px;
}
.card-field .card .feature-c .feature[data-v-24644767] {
  margin-bottom: 8px;
}
.card-field .card .feature-c .feature p[data-v-24644767] {
  margin-bottom: 8px;
}
.card-field .card .feature-c .feature .title[data-v-24644767] {
  font-weight: bold;
  margin-bottom: 6px;
}
.card-field .card .table-c[data-v-24644767] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-field .card .table-c .table[data-v-24644767] {
  width: 85%;
}
.card-field .card .table-c .table .title[data-v-24644767] {
  font-weight: bold;
}
.card-field .card .table-c .table .field-title[data-v-24644767] {
  text-align: right;
}
.card-field .card .table-c .table th[data-v-24644767],
.card-field .card .table-c .table td[data-v-24644767] {
  border: 1px solid #EBEEF5;
  padding: 6px 8px;
  font-size: 14px;
}
.card-field .card .table-c .table th sup[data-v-24644767],
.card-field .card .table-c .table td sup[data-v-24644767] {
  font-size: 12px;
}
.card-field .card .table-c .table.average th[data-v-24644767],
.card-field .card .table-c .table.average td[data-v-24644767] {
  width: 50%;
}
.card-field .card .use-example-c[data-v-24644767] {
  margin-top: 12px;
}
.card-field .card .use-example-c .title[data-v-24644767] {
  font-weight: bold;
  margin-bottom: 8px;
}
.card-field .card .use-example-c a[data-v-24644767] {
  margin-bottom: 6px;
  line-height: 1.4285em;
  color: #1684fc;
  word-wrap: break-word;
}
.card-field .card.placeholder[data-v-24644767] {
  box-shadow: none;
  background: none;
  border: none;
}
@media only screen and (max-width: 767px) {
.sort-field .sort-conds[data-v-24644767] {
    margin-bottom: 8px;
}
.sort-field .sort-conds .sort-tab-c[data-v-24644767] {
    margin-bottom: 8px;
}
.sort-field .sort-conds .sort-tab-c .tab[data-v-24644767] {
    height: 32px;
    font-size: 12px;
}
.sort-field .sort-conds .sort-type-c[data-v-24644767] {
    margin-bottom: 8px;
}
.partners-field .partners-c .img-c[data-v-24644767] {
    width: 150px;
    height: 60px;
    margin: 10px 10px;
    padding: 12px;
}
.card-field[data-v-24644767] {
    margin-top: 16px;
}
.card-field .card[data-v-24644767] {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
}
.card-field .card .title-c .icon-c[data-v-24644767] {
    min-width: 80px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.card-field .card .table-c[data-v-24644767] {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-field .card .table-c .table[data-v-24644767] {
    width: 100%;
}
.card-field .card.placeholder[data-v-24644767] {
    display: none;
}
}

