/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/pages/modelbase/inference/index.vue?vue&type=style&index=0&id=7ed3dc0f&scoped=true&lang=less ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.top-header[data-v-7ed3dc0f] {
  font-weight: 400;
  font-size: 28px;
  color: #101010;
  text-align: center;
  margin: 40px 0;
  height: 30px;
  line-height: 30px;
}
.content[data-v-7ed3dc0f] {
  display: flex;
  flex-wrap: wrap;
}
.content .content-left[data-v-7ed3dc0f] {
  flex: 1;
  margin: 0px 18px;
  min-width: 400px;
}
.content .content-left .header[data-v-7ed3dc0f] {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.content .content-left .header .tips1[data-v-7ed3dc0f] {
  color: #888888;
}
.content .content-left .header .tips2[data-v-7ed3dc0f] {
  color: #fa8c16;
}
.content .content-left .text-input-c .text-input[data-v-7ed3dc0f] .el-textarea__inner {
  font-size: 16px;
  color: #101010;
}
.content .content-left .generate-btn-c[data-v-7ed3dc0f] {
  text-align: right;
  margin-top: 20px;
}
.content .content-right[data-v-7ed3dc0f] {
  flex: 1;
  margin: 0px 18px;
  min-width: 400px;
}
.content .content-right .header[data-v-7ed3dc0f] {
  display: flex;
  margin-bottom: 8px;
}
.content .content-right .header .tips1[data-v-7ed3dc0f] {
  color: #888888;
}
.content .content-right .text-output-c .text-output[data-v-7ed3dc0f] .el-textarea__inner {
  font-size: 16px;
  color: #101010;
  background-color: rgba(229, 231, 235, 0.1);
}
.content .content-right .text-output-c .text-output[data-v-7ed3dc0f] .el-textarea__inner:focus {
  border-color: #DCDFE6;
}
.footer-tips-c[data-v-7ed3dc0f] {
  margin-top: 40px;
  color: #fa8c16;
  padding: 18px;
}
.footer-tips-c .tips[data-v-7ed3dc0f] {
  margin-bottom: 5px;
}

