/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/components/square/RightOwnerItem.vue?vue&type=style&index=0&id=34e6c600&scoped=true&lang=less ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.dZJqQS.fill[data-v-34e6c600]:not([stroke]) {
  fill: #ff6200;
}
.item__dataset[data-v-34e6c600] {
  box-shadow: 0px 0px 20px 0px rgba(221, 221, 221, 0.5);
  background: linear-gradient(176.14deg, #e0ecff 0.84%, #ffffff 54.19%);
}
.item__aimodel[data-v-34e6c600] {
  box-shadow: 0px 0px 20px 0px rgba(221, 221, 221, 0.5);
  background: linear-gradient(176.14deg, #e6e0ff 0.84%, #ffffff 54.19%);
}
.item[data-v-34e6c600] {
  width: 100%;
  min-height: 128px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.item[data-v-34e6c600]:hover {
  background: #fff;
  border: 1px solid #ffffff;
}
.item:hover .top .top-head .name[data-v-34e6c600] {
  color: #0066ff;
}
.item .top .top-head[data-v-34e6c600] {
  display: flex;
  position: relative;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 22px 19px 11px 25px;
}
.item .top .top-head .icon-c[data-v-34e6c600] {
  width: 40px;
  height: 40px;
  margin-right: 6px;
}
.item .top .top-head .icon-c img[data-v-34e6c600] {
  width: 100%;
  height: 100%;
}
.item .top .top-head .name-c[data-v-34e6c600] {
  flex: 1;
  width: 0;
  display: flex;
  margin-left: 16px;
}
.item .top .top-head .name[data-v-34e6c600] {
  color: #101010;
  font-size: 14px;
  font-weight: 700;
  margin-right: 8px;
}
.item .top .top-head .reconmend-icon[data-v-34e6c600] {
  display: flex;
  margin-right: 6px;
}
.item .top .top-head .top-r[data-v-34e6c600] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.item .top .top-head .top-r .line[data-v-34e6c600] {
  height: 16px;
  margin-left: 8px;
  border-right: 1px solid rgba(16, 16, 16, 0.1);
}
.item .top .top-head .top-r .r-item[data-v-34e6c600] {
  display: flex;
  align-items: center;
  margin-left: 8px;
  color: #888888;
  font-size: 12px;
}
.item .top .top-head .top-r .r-item i[data-v-34e6c600] {
  margin-right: 5px;
}
.item .top .top-head .top-r .fav-c[data-v-34e6c600] {
  display: flex;
  align-items: flex-start;
}
.item .top .top-head .top-r .fav-c i[data-v-34e6c600] {
  color: #fa8c16;
}
.item .top .top-head .top-r .fav-c.fav-disabled i[data-v-34e6c600] {
  cursor: default;
}
.item .top .top-bottom[data-v-34e6c600] {
  padding: 0 19px 14px 67px;
}
.item .top .top-bottom .labels[data-v-34e6c600] {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 8px;
  gap: 8px;
}
.item .top .top-bottom .labels .label[data-v-34e6c600] {
  color: rgba(16, 16, 16, 0.5);
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 6px;
  border-radius: 3px;
  background-color: rgba(16, 16, 16, 0.05);
}
.item .footer[data-v-34e6c600] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 19px 16px 22px;
  border-top: 1px solid rgba(0, 0, 255, 0.05);
}
.item .footer .footer-l[data-v-34e6c600] {
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #888888;
  display: flex;
  align-items: center;
}
.item .footer .footer-l .avatar-c[data-v-34e6c600] {
  margin-right: 4px;
  display: inline-block;
  height: 20px;
}
.item .footer .footer-l .avatar-c .avatar[data-v-34e6c600] {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.item .footer .footer-l .greenPoint[data-v-34e6c600] {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  background-color: #5dbf77;
  border-radius: 50%;
}
.item .footer .footer-r[data-v-34e6c600] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #0066ff;
  font-size: 12px;
}
.item .footer .footer-r .upload-bth[data-v-34e6c600] {
  display: flex;
  align-items: center;
}
.item .footer .footer-r .delete-bth[data-v-34e6c600] {
  display: flex;
  align-items: center;
  margin-left: 23px;
}
.item .footer .footer-r svg[data-v-34e6c600] {
  margin-right: 6px;
}
@media only screen and (max-width: 849.99px) {
.delete-bth[data-v-34e6c600] {
    margin-left: 13px !important;
}
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/pages/organization/datasets/index.vue?vue&type=style&index=0&id=5f1d723c&scoped=true&lang=less ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.content[data-v-5f1d723c] {
  display: flex;
  min-height: 100%;
  padding-left: 20px;
}
.content-r[data-v-5f1d723c] {
  flex: 1;
  width: 0;
  padding: 30px 20px;
  padding-right: 36px;
}
.content-r .filter-c-m[data-v-5f1d723c] {
  display: none;
  margin-bottom: 14px;
  align-items: center;
  justify-content: space-between;
}
.content-r .filter-c-m .title[data-v-5f1d723c] {
  color: #101010;
  font-size: 18px;
  height: 32px;
  line-height: 35px;
  font-family: Arial-bold;
  font-weight: bold;
}
.content-r .filter-c-m .right-m[data-v-5f1d723c] {
  display: flex;
}
.content-r .filter-c-m .right-m .icon-box[data-v-5f1d723c] {
  border: 1px solid rgba(16, 16, 16, 0.2);
  border-radius: 5px;
  width: 32px;
  height: 32px;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-r .filter-c-m .right-m .icon-box i[data-v-5f1d723c] {
  color: #101010;
  font-size: 16px;
}
.content-r .filter-c-m .right-m .filter-btn.active[data-v-5f1d723c] {
  background-color: #ffffff;
  z-index: 999;
}
.content-r .filter-c-m .right-m .filter-btn.active i[data-v-5f1d723c] {
  color: #0066ff;
}
.content-r .workspace-t[data-v-5f1d723c] {
  color: #101010;
  font-size: 18px;
  font-weight: 700;
  padding: 6px 0 16px 0;
}
.content-r .filter-c[data-v-5f1d723c] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-r .filter-c .tab-c[data-v-5f1d723c] {
  display: flex;
  align-items: center;
}
.content-r .filter-c .tab-c .tab-item[data-v-5f1d723c] {
  height: 32px;
  display: flex;
  align-items: center;
  margin-right: 6px;
  padding: 0 6px;
  border-bottom: 2px solid rgba(51, 38, 98, 0.3);
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
  color: rgba(16, 16, 16, 0.5);
}
.content-r .filter-c .tab-c .tab-item[data-v-5f1d723c]:hover {
  color: #101010;
  border-color: #332662;
}
.content-r .filter-c .tab-c .tab-item.active[data-v-5f1d723c] {
  color: #0066ff;
  border-bottom: 2px solid #0066ff;
}
.content-r .filter-c .right[data-v-5f1d723c] {
  display: flex;
  align-items: center;
  grid-gap: 14px;
  gap: 14px;
}
.content-r .filter-c .right .check-c[data-v-5f1d723c] {
  margin-right: 16px;
}
.content-r .filter-c .right .btn-add[data-v-5f1d723c] {
  height: 32px;
  background-color: #3291f8;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.content-r .filter-c .right .btn-add .fill[data-v-5f1d723c]:not([store]) {
  fill: #ffffff;
}
.content-r .filter-c .right .search-c[data-v-5f1d723c] {
  margin-right: 16px;
}
.content-r .filter-c .right .search-c .el-input .el-button[data-v-5f1d723c] {
  color: #101010;
}
.content-r .filter-c .right .sort-c[data-v-5f1d723c] {
  cursor: pointer;
}
.content-r .filter-c .right-m[data-v-5f1d723c] {
  display: none;
  align-items: center;
}
.content-r .filter-c .right-m .icon-box[data-v-5f1d723c] {
  border: 1px solid rgba(16, 16, 16, 0.2);
  border-radius: 5px;
  width: 32px;
  height: 32px;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-r .filter-c .right-m .icon-box i[data-v-5f1d723c] {
  color: #101010;
  font-size: 16px;
}
.content-r .list-item-container[data-v-5f1d723c] {
  display: flex;
  flex-wrap: wrap;
}
.content-r .list-item-container .item-container[data-v-5f1d723c] {
  width: 33.3%;
  padding: 12px;
}
.content-r .list-item-container .no-data[data-v-5f1d723c] {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  width: 100%;
}
.content-r .list-item-container .no-data .item-empty[data-v-5f1d723c] {
  height: 391px;
  width: 100%;
  overflow: hidden;
  padding: 15px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(245, 245, 246, 0.5);
}
.content-r .list-item-container .no-data .item-empty .item-empty-icon[data-v-5f1d723c] {
  height: 80px;
  width: 100%;
  background: url(/img/empty-box.svg) center center no-repeat;
}
.content-r .list-item-container .no-data .item-empty .item-empty-tips[data-v-5f1d723c] {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #3f3f40;
}
.content-r .center[data-v-5f1d723c] {
  text-align: center;
  margin-top: 10px;
}
[data-v-5f1d723c] .el-dropdown-menu__item.active {
  color: #409EFF;
  background-color: rgba(179, 216, 255, 0.3);
}
@media only screen and (max-width: 849.99px) {
.content[data-v-5f1d723c] {
    padding-left: 0 !important;
}
.content-r[data-v-5f1d723c] {
    padding: 20px 16px;
}
.content-r .filter-c-m[data-v-5f1d723c] {
    display: flex;
}
.content-r .workspace-t[data-v-5f1d723c] {
    display: none;
}
.content-r .filter-c[data-v-5f1d723c] {
    justify-content: center;
}
.content-r .filter-c .right[data-v-5f1d723c] {
    display: none;
}
.content-r .filter-c .tab-c[data-v-5f1d723c] {
    display: none;
}
.content-r .list-item-container .item-container[data-v-5f1d723c] {
    width: 100% !important;
    padding: 12px 0 !important;
}
.content-r .center .el-pagination[data-v-5f1d723c] .el-pagination__total,
  .content-r .center .el-pagination[data-v-5f1d723c] .el-pagination__sizes,
  .content-r .center .el-pagination[data-v-5f1d723c] .el-pagination__jump {
    display: none;
}
}
@media only screen and (min-width: 850px) and (max-width: 1440px) {
.content-r .filter-c .right[data-v-5f1d723c] {
    display: none;
}
.content-r .filter-c .right-m[data-v-5f1d723c] {
    display: flex;
}
.content-r .list-item-container .item-container[data-v-5f1d723c] {
    width: 50% !important;
}
.content-r .list-item-container .item-container[data-v-5f1d723c]:nth-child(2n+1) {
    padding-left: 0;
}
.content-r .list-item-container .item-container[data-v-5f1d723c]:nth-child(2n) {
    padding-right: 0;
}
}
@media only screen and (min-width: 1440px) {
[data-v-5f1d723c] .list-item-container .item-container {
    width: 33.3% !important;
}
[data-v-5f1d723c] .list-item-container .item-container:nth-child(3n+1) {
    padding-left: 0;
}
[data-v-5f1d723c] .list-item-container .item-container:nth-child(3n) {
    padding-right: 0;
}
}

