/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/components/BaseDialog.vue?vue&type=style&index=0&id=165bc8c5&scoped=true&lang=less ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.base-dlg[data-v-165bc8c5] .el-dialog__header {
  text-align: left;
  height: 45px;
  background: #f0f0f0;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #d4d4d5;
  padding: 0 15px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #101010;
}
.base-dlg[data-v-165bc8c5] .el-dialog__header .el-dialog__title {
  font-weight: 500;
  font-size: 16px;
  color: #101010;
}
.base-dlg[data-v-165bc8c5] .el-dialog__header .el-dialog__headerbtn {
  top: 15px;
  right: 15px;
}
.base-dlg[data-v-165bc8c5] .el-dialog__body {
  padding: 15px 15px;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/pages/user/role/opRoleDialog.vue?vue&type=style&index=0&id=d4271788&scoped=true&lang=less ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.dlg-content[data-v-d4271788] {
  margin: 24px 0px;
}
.dlg-content .form .form-row[data-v-d4271788] {
  display: flex;
  margin-bottom: 20px;
}
.dlg-content .form .form-row.border[data-v-d4271788] {
  border: 1px solid #d4d4d5;
  border-radius: 5px;
  min-height: 100px;
  position: relative;
  margin: 32px 80px 32px 80px;
}
.dlg-content .form .form-row.border .title[data-v-d4271788] {
  position: absolute;
  top: -10px;
  left: 12px;
  padding: 0 4px;
  background: #fff;
  color: #101010;
}
.dlg-content .form .form-row label[data-v-d4271788] {
  width: 170px;
  color: #888888;
  font-size: 14px;
  box-sizing: border-box;
  text-align: right;
}
.dlg-content .form .form-row label.required[data-v-d4271788]::before {
  content: "*";
  color: red;
  margin-right: 5px;
}
.dlg-content .form .form-row .content[data-v-d4271788] {
  flex: 1;
}
.dlg-content .form .form-row .content.box[data-v-d4271788] {
  padding: 20px;
}
.dlg-content .form .form-row .content.box .el-checkbox[data-v-d4271788] {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}
.dlg-content .form .form-row .content.box .el-checkbox[data-v-d4271788]:last-child {
  margin-top: -4px;
}
.dlg-content .form .form-row .content.box .el-checkbox-group[data-v-d4271788] {
  margin-left: 40px;
  margin-top: 20px;
}
.dlg-content .form .form-row .content.error[data-v-d4271788] .el-input__inner,
.dlg-content .form .form-row .content.error[data-v-d4271788] .el-textarea__inner {
  color: #9f3a38;
  background: #fff6f6;
  border-color: #e0b4b4;
}
.dlg-content .form .form-row .content.error[data-v-d4271788] .el-input__inner:visited,
.dlg-content .form .form-row .content.error[data-v-d4271788] .el-textarea__inner:visited {
  border-color: #e0b4b4;
}
.dlg-content .form .form-row .content.error[data-v-d4271788] .el-input__inner:focus,
.dlg-content .form .form-row .content.error[data-v-d4271788] .el-textarea__inner:focus {
  border-color: #e0b4b4;
}
.dlg-content .form .form-row .content.error[data-v-d4271788] .el-input__inner:active,
.dlg-content .form .form-row .content.error[data-v-d4271788] .el-textarea__inner:active {
  border-color: #e0b4b4;
}
.dlg-content .form .form-row .content .tips[data-v-d4271788] {
  font-size: 12px;
  color: #888888;
  margin-top: 10px;
}
.dlg-content .btn[data-v-d4271788] {
  color: #020004;
  background-color: #c2c7cc;
  border-color: #c2c7cc;
}
.dlg-content .btn.confirm-btn[data-v-d4271788] {
  color: #fff;
  background-color: #389e0d;
  border-color: #389e0d;
}
[data-v-d4271788] .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
  background-color: #409eff;
  border-color: #DCDFE6;
}
[data-v-d4271788] .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {
  border-color: #fff;
}
[data-v-d4271788] .el-input.is-disabled .el-input__inner {
  color: #101010;
}
[data-v-d4271788] .el-checkbox__input.is-disabled + span.el-checkbox__label {
  color: #101010;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/pages/user/role/resourceRoleDialog.vue?vue&type=style&index=0&id=4a13802e&scoped=true&lang=less ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.dlg-wrap[data-v-4a13802e] {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dlg-wrap .dlg-content[data-v-4a13802e] {
  margin: 12px;
  margin-bottom: 0px;
  display: flex;
}
.dlg-wrap .dlg-content .form .form-row[data-v-4a13802e] {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.dlg-wrap .dlg-content .form .form-row.border[data-v-4a13802e] {
  border: 1px solid #d4d4d5;
  border-radius: 5px;
  min-height: 100px;
  margin-top: 24px;
  position: relative;
}
.dlg-wrap .dlg-content .form .form-row.border .title[data-v-4a13802e] {
  position: absolute;
  top: -10px;
  left: 12px;
  padding: 0 4px;
  background: #fff;
  color: #101010;
}
.dlg-wrap .dlg-content .form .form-row label[data-v-4a13802e] {
  width: 140px;
  text-align: right;
  color: #888888;
  font-size: 14px;
  box-sizing: border-box;
}
.dlg-wrap .dlg-content .form .form-row label.required[data-v-4a13802e]::before {
  content: "*";
  color: red;
  margin-right: 5px;
}
.dlg-wrap .dlg-content .form .form-row .content[data-v-4a13802e] {
  flex: 1;
}
.dlg-wrap .dlg-content .form .form-row .content.box[data-v-4a13802e] {
  padding: 20px;
}
.dlg-wrap .dlg-content .form .form-row .content.box .el-checkbox[data-v-4a13802e] {
  display: flex;
  margin-bottom: 12px;
}
.dlg-wrap .dlg-content .form .form-row .content.box .el-checkbox-group[data-v-4a13802e] {
  margin-left: 40px;
  margin-top: 20px;
}
.dlg-wrap .dlg-content .form .form-row .content.error[data-v-4a13802e] .el-input__inner,
.dlg-wrap .dlg-content .form .form-row .content.error[data-v-4a13802e] .el-textarea__inner {
  color: #9f3a38;
  background: #fff6f6;
  border-color: #e0b4b4;
}
.dlg-wrap .dlg-content .form .form-row .content.error[data-v-4a13802e] .el-input__inner:visited,
.dlg-wrap .dlg-content .form .form-row .content.error[data-v-4a13802e] .el-textarea__inner:visited {
  border-color: #e0b4b4;
}
.dlg-wrap .dlg-content .form .form-row .content.error[data-v-4a13802e] .el-input__inner:focus,
.dlg-wrap .dlg-content .form .form-row .content.error[data-v-4a13802e] .el-textarea__inner:focus {
  border-color: #e0b4b4;
}
.dlg-wrap .dlg-content .form .form-row .content.error[data-v-4a13802e] .el-input__inner:active,
.dlg-wrap .dlg-content .form .form-row .content.error[data-v-4a13802e] .el-textarea__inner:active {
  border-color: #e0b4b4;
}
.dlg-wrap .dlg-content .form .form-row .content .tips[data-v-4a13802e] {
  font-size: 12px;
  color: #888888;
  margin-top: 10px;
}
.dlg-wrap .resource-wrap[data-v-4a13802e] {
  margin: 24px;
  margin-top: 0;
  height: calc(100% - 128px);
}
.dlg-wrap .resource-wrap .resource-container[data-v-4a13802e] {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.dlg-wrap .resource-wrap .table-wrap[data-v-4a13802e] {
  margin: 12px 0px;
}
.dlg-wrap .resource-wrap .btn[data-v-4a13802e] {
  color: #020004;
  background-color: #c2c7cc;
  border-color: #c2c7cc;
}
.dlg-wrap .resource-wrap .btn.confirm-btn[data-v-4a13802e] {
  color: #fff;
  background-color: #389e0d;
  border-color: #389e0d;
}
[data-v-4a13802e] .el-dialog {
  margin-top: 5% !important;
  flex-direction: column;
  display: flex;
}
[data-v-4a13802e] .el-dialog__body {
  height: 0;
  flex: 1;
}
[data-v-4a13802e] .el-radio-button:first-child .el-radio-button__inner {
  border-radius: 4px 0 0 0;
}
[data-v-4a13802e] .el-radio-button:last-child .el-radio-button__inner {
  border-radius: 0 4px 0 0;
}
[data-v-4a13802e] .el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: #3894ff;
  background-color: #f5f5f6;
  border-color: #DCDFE6;
  box-shadow: none;
}
[data-v-4a13802e] .el-table thead tr th {
  background-color: #F5F5F6;
}
[data-v-4a13802e] .el-table td {
  border-right: none;
  border-bottom: 1px solid rgba(17,0,17,0.18824);
}
[data-v-4a13802e] .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
  background-color: #409eff;
  border-color: #DCDFE6;
}
[data-v-4a13802e] .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {
  border-color: #fff;
}
[data-v-4a13802e] .el-input.is-disabled .el-input__inner {
  color: #101010;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/pages/user/role/storageRoleDialog.vue?vue&type=style&index=0&id=4c77d86c&scoped=true&lang=less ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.dlg-content[data-v-4c77d86c] {
  margin: 24px 0px;
}
.dlg-content .form .form-row[data-v-4c77d86c] {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.dlg-content .form .form-row.border[data-v-4c77d86c] {
  border: 1px solid #d4d4d5;
  border-radius: 5px;
  min-height: 100px;
  position: relative;
  margin: 32px 80px 32px 80px;
}
.dlg-content .form .form-row.border .title[data-v-4c77d86c] {
  position: absolute;
  top: -10px;
  left: 12px;
  padding: 0 4px;
  background: #fff;
  color: #101010;
}
.dlg-content .form .form-row label[data-v-4c77d86c] {
  width: 170px;
  color: #888888;
  font-size: 14px;
  box-sizing: border-box;
  text-align: right;
}
.dlg-content .form .form-row label.required[data-v-4c77d86c]::before {
  content: "*";
  color: red;
  margin-right: 5px;
}
.dlg-content .form .form-row .content[data-v-4c77d86c] {
  flex: 1;
}
.dlg-content .form .form-row .content.box[data-v-4c77d86c] {
  padding: 20px;
}
.dlg-content .form .form-row .content.box .el-checkbox[data-v-4c77d86c] {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}
.dlg-content .form .form-row .content.box .el-checkbox-group[data-v-4c77d86c] {
  margin-left: 40px;
  margin-top: 20px;
}
.dlg-content .form .form-row .content.error[data-v-4c77d86c] .el-input__inner,
.dlg-content .form .form-row .content.error[data-v-4c77d86c] .el-textarea__inner {
  color: #9f3a38;
  background: #fff6f6;
  border-color: #e0b4b4;
}
.dlg-content .form .form-row .content.error[data-v-4c77d86c] .el-input__inner:visited,
.dlg-content .form .form-row .content.error[data-v-4c77d86c] .el-textarea__inner:visited {
  border-color: #e0b4b4;
}
.dlg-content .form .form-row .content.error[data-v-4c77d86c] .el-input__inner:focus,
.dlg-content .form .form-row .content.error[data-v-4c77d86c] .el-textarea__inner:focus {
  border-color: #e0b4b4;
}
.dlg-content .form .form-row .content.error[data-v-4c77d86c] .el-input__inner:active,
.dlg-content .form .form-row .content.error[data-v-4c77d86c] .el-textarea__inner:active {
  border-color: #e0b4b4;
}
.dlg-content .form .form-row .content .tips[data-v-4c77d86c] {
  font-size: 12px;
  color: #888888;
  margin-top: 10px;
}
.dlg-content .btn-wrap[data-v-4c77d86c] {
  margin-left: 170px;
}
.dlg-content .btn-wrap .btn[data-v-4c77d86c] {
  color: #020004;
  background-color: #c2c7cc;
  border-color: #c2c7cc;
}
.dlg-content .btn-wrap .btn.confirm-btn[data-v-4c77d86c] {
  color: #fff;
  background-color: #389e0d;
  border-color: #389e0d;
}
[data-v-4c77d86c] .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
  background-color: #409eff;
  border-color: #DCDFE6;
}
[data-v-4c77d86c] .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {
  border-color: #fff;
}
[data-v-4c77d86c] .el-input.is-disabled .el-input__inner {
  color: #101010;
}
[data-v-4c77d86c] .el-checkbox__input.is-disabled + span.el-checkbox__label {
  color: #101010;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/pages/user/role/index.vue?vue&type=style&index=0&id=7b55e305&scoped=true&lang=less ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.title[data-v-7b55e305] {
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.title span[data-v-7b55e305] {
  font-weight: 700;
  font-size: 16px;
  color: #101010;
}
.tools-bar[data-v-7b55e305] {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-with-select[data-v-7b55e305] {
  width: 50%;
  margin-bottom: 18px;
}
.input-with-select .el-input-group__prepend[data-v-7b55e305] {
  background-color: #fff;
}
[data-v-7b55e305] .el-input-group__append {
  background-color: #0191ff;
  color: #fff;
  padding: 0 32px;
  border: 1px solid #0191ff;
}
.table-container[data-v-7b55e305] {
  margin-bottom: 16px;
}
.table-container[data-v-7b55e305] .el-table__header th {
  background: #fafafa;
  font-size: 12px;
  color: #242424;
}
.table-container[data-v-7b55e305] .el-table__body td {
  font-size: 12px;
}
.table-container[data-v-7b55e305] .el-table__body tr:hover td {
  background-color: #eff9ff !important;
}
.table-container[data-v-7b55e305] .el-table--border td,
.table-container[data-v-7b55e305] .el-table--border th {
  border-right: 2px solid #fafafa;
}
.table-container .op-btn[data-v-7b55e305] {
  cursor: pointer;
  font-size: 12px;
  color: #1967fc;
  margin: 0 5px;
}
.center[data-v-7b55e305] {
  display: flex;
  justify-content: center;
}

