/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/components/cloudbrain/FormTopV2.vue?vue&type=style&index=0&id=67f642aa&scoped=true&lang=less ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.form-row[data-v-67f642aa] {
  display: flex;
  margin-bottom: 12px;
  min-height: 38.4px;
}
.form-row .left-area[data-v-67f642aa] {
  flex: 1;
  width: 0;
  display: flex;
}
.form-row .left-area .title[data-v-67f642aa] {
  width: 130px;
  text-align: right;
  margin-right: 24px;
  color: #101010;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
  flex-shrink: 0;
}
.form-row .left-area .title.align-items-center[data-v-67f642aa] {
  padding-top: 0;
  align-items: center;
}
.form-row .left-area .title .required[data-v-67f642aa] {
  position: relative;
}
.form-row .left-area .title .required[data-v-67f642aa]::after {
  position: absolute;
  content: "*";
  top: -3px;
  right: -10px;
  color: red;
}
.form-row .left-area .content[data-v-67f642aa] {
  flex: 1;
  width: 0;
}
.form-row .left-area .content .field-input[data-v-67f642aa] {
  width: 100%;
}
.form-row .left-area .content .tips[data-v-67f642aa] {
  font-size: 12px;
  color: #888888;
  margin-top: 10px;
}
.form-row .left-area .content .dynamic-tips[data-v-67f642aa] {
  font-size: 13px;
  color: #404040;
  margin-top: 10px;
}
.form-row .left-area .content .field-input[data-v-67f642aa] .el-input__inner {
  height: 37.6px;
}
.form-row .left-area .content .field-input[data-v-67f642aa] .el-input__inner,
.form-row .left-area .content .field-input[data-v-67f642aa] .el-textarea__inner {
  color: rgba(0, 0, 0, 0.95);
  font-size: 14px;
  line-height: 37.6px;
  background: #f5f5f5;
  border: 0;
}
.form-row .left-area .content .field-input[data-v-67f642aa] .el-input__inner:visited,
.form-row .left-area .content .field-input[data-v-67f642aa] .el-textarea__inner:visited {
  border-color: #85b7d9;
}
.form-row .left-area .content .field-input[data-v-67f642aa] .el-input__inner:focus,
.form-row .left-area .content .field-input[data-v-67f642aa] .el-textarea__inner:focus {
  border-color: #85b7d9;
}
.form-row .left-area .content .field-input[data-v-67f642aa] .el-input__inner:active,
.form-row .left-area .content .field-input[data-v-67f642aa] .el-textarea__inner:active {
  border-color: #85b7d9;
}
.form-row .left-area .content.error .field-input[data-v-67f642aa] .el-input__inner,
.form-row .left-area .content.error .field-input[data-v-67f642aa] .el-textarea__inner {
  color: #9f3a38;
  background: #fff6f6;
  border-color: #e0b4b4;
}
.form-row .left-area .content.error .field-input[data-v-67f642aa] .el-input__inner:visited,
.form-row .left-area .content.error .field-input[data-v-67f642aa] .el-textarea__inner:visited {
  border-color: #e0b4b4;
}
.form-row .left-area .content.error .field-input[data-v-67f642aa] .el-input__inner:focus,
.form-row .left-area .content.error .field-input[data-v-67f642aa] .el-textarea__inner:focus {
  border-color: #e0b4b4;
}
.form-row .left-area .content.error .field-input[data-v-67f642aa] .el-input__inner:active,
.form-row .left-area .content.error .field-input[data-v-67f642aa] .el-textarea__inner:active {
  border-color: #e0b4b4;
}
.form-row .right-area[data-v-67f642aa] {
  width: 136px;
  display: flex;
  margin-left: 8px;
  align-items: center;
}
.form-row .right-area .btn-select[data-v-67f642aa] {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #0066ff;
}
.form-row .right-area .btn-select i[data-v-67f642aa] {
  margin-right: 6px;
  color: rgba(0, 0, 0, 0.87);
}
.form-row .right-area a[data-v-67f642aa] {
  color: #0366d6;
}
.submit-btn[data-v-67f642aa] {
  background-color: #5bb973;
  color: #fff;
  border-color: #5bb973;
}
.submit-btn[data-v-67f642aa]:hover {
  background-color: #16ab39;
}
.submit-btn[data-v-67f642aa]:active {
  background-color: #198f35;
}
.submit-btn.is-disabled[data-v-67f642aa],
.submit-btn.is-disabled[data-v-67f642aa]:active,
.submit-btn.is-disabled[data-v-67f642aa]:focus,
.submit-btn.is-disabled[data-v-67f642aa]:hover {
  background-color: #5bb973;
  opacity: 0.45;
}
.submit-btn a[data-v-67f642aa] {
  color: #fff;
  font-weight: 700;
}
.cancel-btn[data-v-67f642aa] {
  background: #e0e1e2;
  color: rgba(0, 0, 0, 0.6);
  border-color: #e0e1e2;
}
.cancel-btn[data-v-67f642aa]:hover {
  background-color: #cacbcd;
}
.cancel-btn[data-v-67f642aa]:active {
  background-color: #babbbc;
}
.table-container[data-v-67f642aa] .el-table__header th {
  background: #f0f0f0;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 14px;
  height: 48px;
}
.table-container[data-v-67f642aa] .el-table__body td {
  font-size: 12px;
}
.err-msg-wrap[data-v-67f642aa] {
  width: 1130px;
  margin-left: 44px;
}
.err-msg-wrap .err-msg-box-already[data-v-67f642aa] {
  padding: 1em 1.5em;
  background-color: rgba(242, 113, 28, 0.05);
  border: 1px solid #f2711c;
  border-radius: 5px;
}
.err-msg-wrap .err-msg-box-already .msg-content[data-v-67f642aa] {
  display: flex;
  align-items: center;
}
.err-msg-wrap .err-msg-box-already .msg-content i[data-v-67f642aa] {
  font-size: 35px;
  color: #f2711c;
}
.err-msg-wrap .err-msg-box-already .msg-content .msg-content-tip[data-v-67f642aa] {
  text-align: left;
  margin-left: 1rem;
}
.err-msg-wrap .err-msg-box-already .msg-content .msg-content-tip .line-1[data-v-67f642aa] {
  font-weight: 600;
  line-height: 2;
}
.err-msg-wrap .err-msg-box-already .msg-content .msg-content-tip .line-1 span[data-v-67f642aa] {
  color: #f2711c;
}
.err-msg-wrap .err-msg-box-already .msg-content .msg-content-tip .line-2[data-v-67f642aa] {
  color: #939393;
}
@media (max-width: 768px) {
.form-row[data-v-67f642aa] {
    flex-direction: column;
    margin-bottom: 20px;
}
.form-row .left-area[data-v-67f642aa] {
    width: 100%;
    flex-direction: column;
}
.form-row .left-area .title[data-v-67f642aa] {
    width: 100%;
    text-align: left;
    margin-right: 0;
    margin-bottom: 8px;
    padding-top: 0;
    justify-content: flex-start;
    font-size: 13px;
}
.form-row .left-area .content[data-v-67f642aa] {
    width: 100%;
}
.form-row .left-area .content .field-input[data-v-67f642aa] .el-input__inner {
    height: 32px;
    font-size: 13px;
    line-height: 32px;
}
.form-row .left-area .content .tips[data-v-67f642aa],
  .form-row .left-area .content .dynamic-tips[data-v-67f642aa] {
    font-size: 11px;
}
.form-row .right-area[data-v-67f642aa] {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    justify-content: flex-start;
}
.form-row .right-area .btn-select[data-v-67f642aa] {
    font-size: 13px;
}
.submit-btn[data-v-67f642aa],
  .cancel-btn[data-v-67f642aa] {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    margin-left: 0px;
}
.table-container[data-v-67f642aa] .el-table__header th {
    font-size: 12px;
    height: 40px;
}
.table-container[data-v-67f642aa] .el-table__body td {
    font-size: 11px;
}
.err-msg-wrap[data-v-67f642aa] {
    width: 100%;
    margin: 0;
}
}
.list[data-v-67f642aa] {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.list .item[data-v-67f642aa] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-right: 1px solid #c2c7cc;
  height: 40px;
  padding: 0 12px;
  margin-bottom: 5px;
  background-color: #f5f5f5;
}
.list .item span[data-v-67f642aa] {
  color: #0066ff;
}
.list .item i[data-v-67f642aa] {
  margin-top: -7px;
  font-size: 14px;
}
.list .item[data-v-67f642aa]:first-child {
  border-top-left-radius: 0.28571429rem;
  border-bottom-left-radius: 0.28571429rem;
}
.list .item[data-v-67f642aa]:last-child {
  border-top-right-radius: 0.28571429rem;
  border-bottom-right-radius: 0.28571429rem;
  border-right: 0;
}
.list .item.focus[data-v-67f642aa] {
  background-color: #ffffff;
  border: 1px solid #3291f8;
  border-radius: 5px;
  margin-left: -4px;
}
.list .item[data-v-67f642aa]:hover:not(.focus) {
  background: rgba(0, 0, 0, 0.03);
}
.tips-c[data-v-67f642aa] {
  margin-top: -20px;
}
.tips-c .tips[data-v-67f642aa] {
  display: flex;
  font-size: 12px;
  align-items: center;
}
.tips-c .tips i[data-v-67f642aa] {
  color: #f2711c;
  margin-right: 5px;
  font-size: 14px;
}
.tips-c .tips-1[data-v-67f642aa] {
  flex-wrap: wrap;
}
.tips-c .tips-1 span[data-v-67f642aa] {
  color: #f2711c;
}
.tips-c .tips-2 span[data-v-67f642aa] {
  color: #888;
}
.tips-c .wait-count-c[data-v-67f642aa] {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.tips-c .mind-torch-helper[data-v-67f642aa] {
  display: flex;
  align-items: center;
}
.tips-c .mind-torch-helper i[data-v-67f642aa] {
  color: #007aff;
  font-size: 15px;
  margin-right: 2px;
}
.tips-c .mind-torch-helper span[data-v-67f642aa] {
  color: #007aff;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/components/cloudbrain/TaskName.vue?vue&type=style&index=0&id=09a23d7c&scoped=true&lang=less ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.form-row[data-v-09a23d7c] {
  display: flex;
  margin-bottom: 12px;
  min-height: 38.4px;
}
.form-row .left-area[data-v-09a23d7c] {
  flex: 1;
  width: 0;
  display: flex;
}
.form-row .left-area .title[data-v-09a23d7c] {
  width: 130px;
  text-align: right;
  margin-right: 24px;
  color: #101010;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
  flex-shrink: 0;
}
.form-row .left-area .title.align-items-center[data-v-09a23d7c] {
  padding-top: 0;
  align-items: center;
}
.form-row .left-area .title .required[data-v-09a23d7c] {
  position: relative;
}
.form-row .left-area .title .required[data-v-09a23d7c]::after {
  position: absolute;
  content: "*";
  top: -3px;
  right: -10px;
  color: red;
}
.form-row .left-area .content[data-v-09a23d7c] {
  flex: 1;
  width: 0;
}
.form-row .left-area .content .field-input[data-v-09a23d7c] {
  width: 100%;
}
.form-row .left-area .content .tips[data-v-09a23d7c] {
  font-size: 12px;
  color: #888888;
  margin-top: 10px;
}
.form-row .left-area .content .dynamic-tips[data-v-09a23d7c] {
  font-size: 13px;
  color: #404040;
  margin-top: 10px;
}
.form-row .left-area .content .field-input[data-v-09a23d7c] .el-input__inner {
  height: 37.6px;
}
.form-row .left-area .content .field-input[data-v-09a23d7c] .el-input__inner,
.form-row .left-area .content .field-input[data-v-09a23d7c] .el-textarea__inner {
  color: rgba(0, 0, 0, 0.95);
  font-size: 14px;
  line-height: 37.6px;
  background: #f5f5f5;
  border: 0;
}
.form-row .left-area .content .field-input[data-v-09a23d7c] .el-input__inner:visited,
.form-row .left-area .content .field-input[data-v-09a23d7c] .el-textarea__inner:visited {
  border-color: #85b7d9;
}
.form-row .left-area .content .field-input[data-v-09a23d7c] .el-input__inner:focus,
.form-row .left-area .content .field-input[data-v-09a23d7c] .el-textarea__inner:focus {
  border-color: #85b7d9;
}
.form-row .left-area .content .field-input[data-v-09a23d7c] .el-input__inner:active,
.form-row .left-area .content .field-input[data-v-09a23d7c] .el-textarea__inner:active {
  border-color: #85b7d9;
}
.form-row .left-area .content.error .field-input[data-v-09a23d7c] .el-input__inner,
.form-row .left-area .content.error .field-input[data-v-09a23d7c] .el-textarea__inner {
  color: #9f3a38;
  background: #fff6f6;
  border-color: #e0b4b4;
}
.form-row .left-area .content.error .field-input[data-v-09a23d7c] .el-input__inner:visited,
.form-row .left-area .content.error .field-input[data-v-09a23d7c] .el-textarea__inner:visited {
  border-color: #e0b4b4;
}
.form-row .left-area .content.error .field-input[data-v-09a23d7c] .el-input__inner:focus,
.form-row .left-area .content.error .field-input[data-v-09a23d7c] .el-textarea__inner:focus {
  border-color: #e0b4b4;
}
.form-row .left-area .content.error .field-input[data-v-09a23d7c] .el-input__inner:active,
.form-row .left-area .content.error .field-input[data-v-09a23d7c] .el-textarea__inner:active {
  border-color: #e0b4b4;
}
.form-row .right-area[data-v-09a23d7c] {
  width: 136px;
  display: flex;
  margin-left: 8px;
  align-items: center;
}
.form-row .right-area .btn-select[data-v-09a23d7c] {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #0066ff;
}
.form-row .right-area .btn-select i[data-v-09a23d7c] {
  margin-right: 6px;
  color: rgba(0, 0, 0, 0.87);
}
.form-row .right-area a[data-v-09a23d7c] {
  color: #0366d6;
}
.submit-btn[data-v-09a23d7c] {
  background-color: #5bb973;
  color: #fff;
  border-color: #5bb973;
}
.submit-btn[data-v-09a23d7c]:hover {
  background-color: #16ab39;
}
.submit-btn[data-v-09a23d7c]:active {
  background-color: #198f35;
}
.submit-btn.is-disabled[data-v-09a23d7c],
.submit-btn.is-disabled[data-v-09a23d7c]:active,
.submit-btn.is-disabled[data-v-09a23d7c]:focus,
.submit-btn.is-disabled[data-v-09a23d7c]:hover {
  background-color: #5bb973;
  opacity: 0.45;
}
.submit-btn a[data-v-09a23d7c] {
  color: #fff;
  font-weight: 700;
}
.cancel-btn[data-v-09a23d7c] {
  background: #e0e1e2;
  color: rgba(0, 0, 0, 0.6);
  border-color: #e0e1e2;
}
.cancel-btn[data-v-09a23d7c]:hover {
  background-color: #cacbcd;
}
.cancel-btn[data-v-09a23d7c]:active {
  background-color: #babbbc;
}
.table-container[data-v-09a23d7c] .el-table__header th {
  background: #f0f0f0;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 14px;
  height: 48px;
}
.table-container[data-v-09a23d7c] .el-table__body td {
  font-size: 12px;
}
.err-msg-wrap[data-v-09a23d7c] {
  width: 1130px;
  margin-left: 44px;
}
.err-msg-wrap .err-msg-box-already[data-v-09a23d7c] {
  padding: 1em 1.5em;
  background-color: rgba(242, 113, 28, 0.05);
  border: 1px solid #f2711c;
  border-radius: 5px;
}
.err-msg-wrap .err-msg-box-already .msg-content[data-v-09a23d7c] {
  display: flex;
  align-items: center;
}
.err-msg-wrap .err-msg-box-already .msg-content i[data-v-09a23d7c] {
  font-size: 35px;
  color: #f2711c;
}
.err-msg-wrap .err-msg-box-already .msg-content .msg-content-tip[data-v-09a23d7c] {
  text-align: left;
  margin-left: 1rem;
}
.err-msg-wrap .err-msg-box-already .msg-content .msg-content-tip .line-1[data-v-09a23d7c] {
  font-weight: 600;
  line-height: 2;
}
.err-msg-wrap .err-msg-box-already .msg-content .msg-content-tip .line-1 span[data-v-09a23d7c] {
  color: #f2711c;
}
.err-msg-wrap .err-msg-box-already .msg-content .msg-content-tip .line-2[data-v-09a23d7c] {
  color: #939393;
}
@media (max-width: 768px) {
.form-row[data-v-09a23d7c] {
    flex-direction: column;
    margin-bottom: 20px;
}
.form-row .left-area[data-v-09a23d7c] {
    width: 100%;
    flex-direction: column;
}
.form-row .left-area .title[data-v-09a23d7c] {
    width: 100%;
    text-align: left;
    margin-right: 0;
    margin-bottom: 8px;
    padding-top: 0;
    justify-content: flex-start;
    font-size: 13px;
}
.form-row .left-area .content[data-v-09a23d7c] {
    width: 100%;
}
.form-row .left-area .content .field-input[data-v-09a23d7c] .el-input__inner {
    height: 32px;
    font-size: 13px;
    line-height: 32px;
}
.form-row .left-area .content .tips[data-v-09a23d7c],
  .form-row .left-area .content .dynamic-tips[data-v-09a23d7c] {
    font-size: 11px;
}
.form-row .right-area[data-v-09a23d7c] {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    justify-content: flex-start;
}
.form-row .right-area .btn-select[data-v-09a23d7c] {
    font-size: 13px;
}
.submit-btn[data-v-09a23d7c],
  .cancel-btn[data-v-09a23d7c] {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    margin-left: 0px;
}
.table-container[data-v-09a23d7c] .el-table__header th {
    font-size: 12px;
    height: 40px;
}
.table-container[data-v-09a23d7c] .el-table__body td {
    font-size: 11px;
}
.err-msg-wrap[data-v-09a23d7c] {
    width: 100%;
    margin: 0;
}
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/components/cloudbrain/SpecSelect.vue?vue&type=style&index=0&id=0e79f3ae&scoped=true&lang=less ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.form-row[data-v-0e79f3ae] {
  display: flex;
  margin-bottom: 12px;
  min-height: 38.4px;
}
.form-row .left-area[data-v-0e79f3ae] {
  flex: 1;
  width: 0;
  display: flex;
}
.form-row .left-area .title[data-v-0e79f3ae] {
  width: 130px;
  text-align: right;
  margin-right: 24px;
  color: #101010;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
  flex-shrink: 0;
}
.form-row .left-area .title.align-items-center[data-v-0e79f3ae] {
  padding-top: 0;
  align-items: center;
}
.form-row .left-area .title .required[data-v-0e79f3ae] {
  position: relative;
}
.form-row .left-area .title .required[data-v-0e79f3ae]::after {
  position: absolute;
  content: "*";
  top: -3px;
  right: -10px;
  color: red;
}
.form-row .left-area .content[data-v-0e79f3ae] {
  flex: 1;
  width: 0;
}
.form-row .left-area .content .field-input[data-v-0e79f3ae] {
  width: 100%;
}
.form-row .left-area .content .tips[data-v-0e79f3ae] {
  font-size: 12px;
  color: #888888;
  margin-top: 10px;
}
.form-row .left-area .content .dynamic-tips[data-v-0e79f3ae] {
  font-size: 13px;
  color: #404040;
  margin-top: 10px;
}
.form-row .left-area .content .field-input[data-v-0e79f3ae] .el-input__inner {
  height: 37.6px;
}
.form-row .left-area .content .field-input[data-v-0e79f3ae] .el-input__inner,
.form-row .left-area .content .field-input[data-v-0e79f3ae] .el-textarea__inner {
  color: rgba(0, 0, 0, 0.95);
  font-size: 14px;
  line-height: 37.6px;
  background: #f5f5f5;
  border: 0;
}
.form-row .left-area .content .field-input[data-v-0e79f3ae] .el-input__inner:visited,
.form-row .left-area .content .field-input[data-v-0e79f3ae] .el-textarea__inner:visited {
  border-color: #85b7d9;
}
.form-row .left-area .content .field-input[data-v-0e79f3ae] .el-input__inner:focus,
.form-row .left-area .content .field-input[data-v-0e79f3ae] .el-textarea__inner:focus {
  border-color: #85b7d9;
}
.form-row .left-area .content .field-input[data-v-0e79f3ae] .el-input__inner:active,
.form-row .left-area .content .field-input[data-v-0e79f3ae] .el-textarea__inner:active {
  border-color: #85b7d9;
}
.form-row .left-area .content.error .field-input[data-v-0e79f3ae] .el-input__inner,
.form-row .left-area .content.error .field-input[data-v-0e79f3ae] .el-textarea__inner {
  color: #9f3a38;
  background: #fff6f6;
  border-color: #e0b4b4;
}
.form-row .left-area .content.error .field-input[data-v-0e79f3ae] .el-input__inner:visited,
.form-row .left-area .content.error .field-input[data-v-0e79f3ae] .el-textarea__inner:visited {
  border-color: #e0b4b4;
}
.form-row .left-area .content.error .field-input[data-v-0e79f3ae] .el-input__inner:focus,
.form-row .left-area .content.error .field-input[data-v-0e79f3ae] .el-textarea__inner:focus {
  border-color: #e0b4b4;
}
.form-row .left-area .content.error .field-input[data-v-0e79f3ae] .el-input__inner:active,
.form-row .left-area .content.error .field-input[data-v-0e79f3ae] .el-textarea__inner:active {
  border-color: #e0b4b4;
}
.form-row .right-area[data-v-0e79f3ae] {
  width: 136px;
  display: flex;
  margin-left: 8px;
  align-items: center;
}
.form-row .right-area .btn-select[data-v-0e79f3ae] {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #0066ff;
}
.form-row .right-area .btn-select i[data-v-0e79f3ae] {
  margin-right: 6px;
  color: rgba(0, 0, 0, 0.87);
}
.form-row .right-area a[data-v-0e79f3ae] {
  color: #0366d6;
}
.submit-btn[data-v-0e79f3ae] {
  background-color: #5bb973;
  color: #fff;
  border-color: #5bb973;
}
.submit-btn[data-v-0e79f3ae]:hover {
  background-color: #16ab39;
}
.submit-btn[data-v-0e79f3ae]:active {
  background-color: #198f35;
}
.submit-btn.is-disabled[data-v-0e79f3ae],
.submit-btn.is-disabled[data-v-0e79f3ae]:active,
.submit-btn.is-disabled[data-v-0e79f3ae]:focus,
.submit-btn.is-disabled[data-v-0e79f3ae]:hover {
  background-color: #5bb973;
  opacity: 0.45;
}
.submit-btn a[data-v-0e79f3ae] {
  color: #fff;
  font-weight: 700;
}
.cancel-btn[data-v-0e79f3ae] {
  background: #e0e1e2;
  color: rgba(0, 0, 0, 0.6);
  border-color: #e0e1e2;
}
.cancel-btn[data-v-0e79f3ae]:hover {
  background-color: #cacbcd;
}
.cancel-btn[data-v-0e79f3ae]:active {
  background-color: #babbbc;
}
.table-container[data-v-0e79f3ae] .el-table__header th {
  background: #f0f0f0;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 14px;
  height: 48px;
}
.table-container[data-v-0e79f3ae] .el-table__body td {
  font-size: 12px;
}
.err-msg-wrap[data-v-0e79f3ae] {
  width: 1130px;
  margin-left: 44px;
}
.err-msg-wrap .err-msg-box-already[data-v-0e79f3ae] {
  padding: 1em 1.5em;
  background-color: rgba(242, 113, 28, 0.05);
  border: 1px solid #f2711c;
  border-radius: 5px;
}
.err-msg-wrap .err-msg-box-already .msg-content[data-v-0e79f3ae] {
  display: flex;
  align-items: center;
}
.err-msg-wrap .err-msg-box-already .msg-content i[data-v-0e79f3ae] {
  font-size: 35px;
  color: #f2711c;
}
.err-msg-wrap .err-msg-box-already .msg-content .msg-content-tip[data-v-0e79f3ae] {
  text-align: left;
  margin-left: 1rem;
}
.err-msg-wrap .err-msg-box-already .msg-content .msg-content-tip .line-1[data-v-0e79f3ae] {
  font-weight: 600;
  line-height: 2;
}
.err-msg-wrap .err-msg-box-already .msg-content .msg-content-tip .line-1 span[data-v-0e79f3ae] {
  color: #f2711c;
}
.err-msg-wrap .err-msg-box-already .msg-content .msg-content-tip .line-2[data-v-0e79f3ae] {
  color: #939393;
}
@media (max-width: 768px) {
.form-row[data-v-0e79f3ae] {
    flex-direction: column;
    margin-bottom: 20px;
}
.form-row .left-area[data-v-0e79f3ae] {
    width: 100%;
    flex-direction: column;
}
.form-row .left-area .title[data-v-0e79f3ae] {
    width: 100%;
    text-align: left;
    margin-right: 0;
    margin-bottom: 8px;
    padding-top: 0;
    justify-content: flex-start;
    font-size: 13px;
}
.form-row .left-area .content[data-v-0e79f3ae] {
    width: 100%;
}
.form-row .left-area .content .field-input[data-v-0e79f3ae] .el-input__inner {
    height: 32px;
    font-size: 13px;
    line-height: 32px;
}
.form-row .left-area .content .tips[data-v-0e79f3ae],
  .form-row .left-area .content .dynamic-tips[data-v-0e79f3ae] {
    font-size: 11px;
}
.form-row .right-area[data-v-0e79f3ae] {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    justify-content: flex-start;
}
.form-row .right-area .btn-select[data-v-0e79f3ae] {
    font-size: 13px;
}
.submit-btn[data-v-0e79f3ae],
  .cancel-btn[data-v-0e79f3ae] {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    margin-left: 0px;
}
.table-container[data-v-0e79f3ae] .el-table__header th {
    font-size: 12px;
    height: 40px;
}
.table-container[data-v-0e79f3ae] .el-table__body td {
    font-size: 11px;
}
.err-msg-wrap[data-v-0e79f3ae] {
    width: 100%;
    margin: 0;
}
}
.form-row .content .spec-list-c[data-v-0e79f3ae] {
  min-height: 37.6px;
  border-radius: 4px;
  background: #f5f5f5;
  box-sizing: border-box;
  color: #606266;
  padding: 4px 15px;
}
.form-row .content .spec-list-c .spec-item-placeholder[data-v-0e79f3ae] {
  height: 27px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.4);
  opacity: 0.45 !important;
  font-size: 14px;
}
.form-row .content .spec-info[data-v-0e79f3ae] {
  flex: 1;
}
.form-row .content .spec-info .spec-sel[data-v-0e79f3ae] {
  width: 100%;
}
.form-row .content .spec-info .spec-sel[data-v-0e79f3ae] .el-input__prefix {
  width: 100%;
  cursor: pointer;
}
.form-row .content .spec-info .spec-sel[data-v-0e79f3ae] .el-input__inner {
  padding-left: 36px;
}
.form-row .content .spec-info .spec-sel .spec-sel-icon[data-v-0e79f3ae] {
  position: absolute;
  left: 5px;
  height: 96%;
}
.form-row .content .spec-info .spec-sel .spec-sel-point[data-v-0e79f3ae] {
  position: absolute;
  right: 40px;
  display: flex;
  align-items: center;
  height: 99%;
}
.form-row .content .spec-info .spec-sel.spec-show-point[data-v-0e79f3ae] .el-input__inner {
  padding-right: 120px;
}
.form-row .content .spec-info .self-point-info[data-v-0e79f3ae] {
  padding: 0 10px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.form-row .content .spec-info .self-point-info i[data-v-0e79f3ae] {
  margin-right: 4px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
}
.form-row .resource-descr-c[data-v-0e79f3ae] {
  align-items: flex-start;
  margin-top: 8px;
}
.form-row .resource-descr-c .resource-descr[data-v-0e79f3ae] {
  display: flex;
  align-items: center;
}
.form-row .resource-descr-c .resource-descr i[data-v-0e79f3ae] {
  margin-right: 6px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
}
.form-row .resource-descr-c .resource-descr a[data-v-0e79f3ae] {
  color: #0066ff;
}
.spec-op-icon[data-v-0e79f3ae] {
  margin-right: 6px;
  display: flex;
  align-items: center;
  height: 100%;
}
.spec-op-icon ._icon[data-v-0e79f3ae] {
  color: white;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: rgba(136, 136, 136, 0.5);
}
.spec-op-icon .CPU_icon[data-v-0e79f3ae] {
  color: white;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #36cfc9;
}
.spec-op-icon .GPU_icon[data-v-0e79f3ae] {
  color: white;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #fcca00;
}
.spec-op-icon .NPU_icon[data-v-0e79f3ae],
.spec-op-icon .GCU_icon[data-v-0e79f3ae],
.spec-op-icon .MLU_icon[data-v-0e79f3ae],
.spec-op-icon .DCU_icon[data-v-0e79f3ae],
.spec-op-icon .ILUVATAR-GPGPU_icon[data-v-0e79f3ae],
.spec-op-icon .METAX-GPGPU_icon[data-v-0e79f3ae] {
  color: white;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #7b32b2;
}
.spec-op-point[data-v-0e79f3ae] {
  color: #888888;
  font-size: 14px;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/components/AcknowledgementsTips.vue?vue&type=style&index=0&id=aeeb1646&scoped=true&lang=less ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ack-tips-c[data-v-aeeb1646] {
  width: 100%;
  border-color: #f2711c;
  border-width: 1px;
  border-style: solid;
  background: rgba(242, 113, 28, 0.05);
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 20px;
  margin-left: 20px;
}
.ack-tips-c .icon-c[data-v-aeeb1646] {
  margin-right: 32px;
}
.ack-tips-c .tip[data-v-aeeb1646] {
  margin: 6px 0;
}
.pop-tips p[data-v-aeeb1646] {
  margin-bottom: 4px;
}
@media (max-width: 768px) {
.ack-tips-c[data-v-aeeb1646] {
    margin-left: 0px;
}
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/components/cloudbrain/TaskLimitDialog.vue?vue&type=style&index=0&id=6151937c&scoped=true&lang=less ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.task-limit-overlay[data-v-6151937c] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-limit-dialog[data-v-6151937c] {
  max-width: 900px;
  width: 100%;
  max-height: 80vh;
  background-color: #fff;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
}
.task-limit-dialog .dialog-header[data-v-6151937c] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  background: linear-gradient(86.11deg, #093cf1 -0.14%, #4886ff 93.93%);
  padding: 12px 30px;
}
.task-limit-dialog .dialog-header .dialog-tip-wrap[data-v-6151937c] {
  display: flex;
  align-items: center;
}
.task-limit-dialog .dialog-header .dialog-tip-wrap .icon-wrap[data-v-6151937c] {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.task-limit-dialog .dialog-header .dialog-tip-wrap .icon-wrap i[data-v-6151937c] {
  font-size: 24px;
  color: #fff;
}
.task-limit-dialog .dialog-header .dialog-tip-wrap .tip-wrap[data-v-6151937c] {
  margin-left: 14px;
  min-height: 50px;
}
.task-limit-dialog .dialog-header .dialog-tip-wrap .tip-wrap .tip-title[data-v-6151937c] {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 6px;
}
.task-limit-dialog .dialog-header .dialog-tip-wrap .tip-wrap .tip-desc[data-v-6151937c] {
  color: #fff500;
  line-height: 14px;
  margin: 0;
}
.task-limit-dialog .dialog-header .close-wrap[data-v-6151937c] {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.task-limit-dialog .dialog-header .close-wrap i[data-v-6151937c] {
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}
.task-limit-dialog .dialog-header .close-wrap i[data-v-6151937c]:hover {
  color: #409eff;
}
.task-limit-dialog .task-list[data-v-6151937c] {
  max-height: 700px;
  overflow-y: auto;
  padding: 20px 24px;
}
.task-limit-dialog .task-list .task-item[data-v-6151937c] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #f8fbff;
  border-radius: 6px;
  margin-top: 10px;
}
.task-limit-dialog .task-list .task-item .task-info-wrap[data-v-6151937c] {
  display: flex;
  flex: 1;
  min-width: 0;
}
.task-limit-dialog .task-list .task-item .task-info-wrap .cb-job[data-v-6151937c] {
  height: 40px;
  border-radius: 6px;
  color: #f9f9f9;
  font-size: 14px;
  line-height: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.task-limit-dialog .task-list .task-item .task-info-wrap .task-info[data-v-6151937c] {
  margin-left: 12px;
}
.task-limit-dialog .task-list .task-item .task-info-wrap .task-info .task-name[data-v-6151937c] {
  height: 20px;
  line-height: 20px;
  color: #101010;
}
.task-limit-dialog .task-list .task-item .task-info-wrap .task-info .task-meta[data-v-6151937c] {
  display: flex;
  align-items: center;
  grid-gap: 8px;
  gap: 8px;
  font-size: 12px;
  color: rgba(16, 16, 16, 0.5);
}
.task-limit-dialog .task-list .task-item .task-info-wrap .task-info .task-meta .task-status[data-v-6151937c] {
  color: #505559;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #e9e9eb;
  border-radius: 10px;
}
.task-limit-dialog .task-list .task-item .task-info-wrap .task-info .task-meta .task-status .dot[data-v-6151937c] {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  margin-right: 6px;
  background-color: #505559;
}
.task-limit-dialog .task-list .task-item .task-info-wrap .task-info .task-meta .task-status.status-RUNNING[data-v-6151937c],
.task-limit-dialog .task-list .task-item .task-info-wrap .task-info .task-meta .task-status.status-WAITING[data-v-6151937c] {
  color: #27b148;
  background-color: #d9ffe2;
}
.task-limit-dialog .task-list .task-item .task-info-wrap .task-info .task-meta .task-status.status-RUNNING .dot[data-v-6151937c],
.task-limit-dialog .task-list .task-item .task-info-wrap .task-info .task-meta .task-status.status-WAITING .dot[data-v-6151937c] {
  background-color: #27b148;
}
.task-limit-dialog .task-list .task-item .task-info-wrap .task-info .task-meta .task-status.status-STOPPING[data-v-6151937c] {
  color: #f2711c;
  background-color: #ffedda;
}
.task-limit-dialog .task-list .task-item .task-info-wrap .task-info .task-meta .task-status.status-STOPPING .dot[data-v-6151937c] {
  background-color: #f2711c;
}
.task-limit-dialog .task-list .task-item .task-actions[data-v-6151937c] {
  flex-shrink: 0;
  margin-left: 16px;
}
.task-limit-dialog .task-list .task-item .task-actions .action-btn[data-v-6151937c] {
  cursor: pointer;
  font-size: 12px;
  padding: 0 10px;
  border-radius: 4px;
  display: inline-block;
}
.task-limit-dialog .task-list .task-item .task-actions .action-btn.stop[data-v-6151937c] {
  color: #0056ff;
  background-color: #ecf5ff;
  border: 1px solid #0056ff;
}
.task-limit-dialog .task-list .task-item .task-actions .action-btn.stop.disabled[data-v-6151937c] {
  color: #c8c8c8;
  background-color: #f5f5f5;
  border-color: #c8c8c8;
  cursor: not-allowed;
}
.task-limit-dialog .task-list .task-item .task-actions .action-btn.delete[data-v-6151937c] {
  color: #f43838;
  background-color: #ffffff;
  border: 1px solid #f43838;
}
.task-limit-dialog .task-list .task-item .task-actions .action-btn.delete.disabled[data-v-6151937c] {
  color: #c8c8c8;
  background-color: #f5f5f5;
  border-color: #c8c8c8;
  cursor: not-allowed;
}
@media screen and (max-width: 767px) {
.task-meta .task-unix[data-v-6151937c] {
    display: none;
}
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/components/cloudbrain/ForbidPenetrationTipCheck.vue?vue&type=style&index=0&id=0f089c42&scoped=true&lang=less ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.forbid-penetration-check-container[data-v-0f089c42] {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 154px;
  margin-right: 24px;
  margin-bottom: 26px;
}
.forbid-penetration-check-container .el-checkbox[data-v-0f089c42] {
  margin-right: 0;
}
.forbid-penetration-check-container .el-checkbox[data-v-0f089c42] .el-checkbox__input {
  margin-top: -1px;
}
.forbid-penetration-check-container .el-checkbox[data-v-0f089c42] .el-checkbox__label {
  padding-left: 10px;
  line-height: normal;
  white-space: break-spaces;
}
.forbid-penetration-check-container .el-checkbox[data-v-0f089c42] .el-checkbox__input.is-checked + .el-checkbox__label /deep/ .el-checkbox__inner {
  background-color: #f04848;
  border-color: #f04848;
}
.forbid-penetration-check-container .checkbox-label[data-v-0f089c42] {
  color: #f04848;
  font-size: 14px;
  text-decoration: underline;
}
@media (max-width: 768px) {
.forbid-penetration-check-container[data-v-0f089c42] {
    margin-left: 0;
}
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-4.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-4.use[2]!./node_modules/less-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./web_src/vuepages/components/cloudbrain/ForbidPenetrationTipCheck.vue?vue&type=style&index=1&id=0f089c42&lang=less ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.penalty-tip-popover {
  padding: 12px 16px !important;
  background-color: #fff7f0 !important;
  border: 1px solid #f2711c !important;
  border-radius: 6px !important;
  color: #101010 !important;
}
.penalty-tip-popover .popper__arrow {
  border-right-color: #f2711c !important;
  border-width: 8px;
  left: -8px !important;
}
.penalty-tip-popover .popper__arrow::after {
  border-right-color: #f2711c !important;
}
.penalty-tip-popover .penalty-tip-content {
  max-width: 320px;
  color: #101010;
  font-size: 13px;
  line-height: 1.6;
  word-break: normal;
}
.penalty-tip-popover .penalty-tip-content /deep/ .highlight {
  color: #f04848;
  font-weight: 600;
}

