{{template "base/head" .}}
<link rel="stylesheet" href="{{StaticUrlPrefix}}/css/vp-cloudbrain-createglobal.css?v={{MD5 AppVer}}" />

<div class="container-menu-main">
    {{template "base/nav_left" .}}
    <div id="nav_left_right_content" style="padding-bottom: 0;">
        <div id="__vue-root"></div>
    </div>
</div>

<script src="{{StaticUrlPrefix}}/js/vp-cloudbrain-createglobal.js?v={{MD5 AppVer}}"></script>
{{template "base/footer" .}}
