{{template "base/head" .}}
<link rel="stylesheet" href="{{StaticUrlPrefix}}/css/vp-cloudbrain-tasks.css?v={{MD5 AppVer}}" />
<div class="admin user">
    {{template "admin/navbar" .}}
    <div class="ui container">
        <div id="__vue-root"></div>
    </div>
</div>
<script src="{{StaticUrlPrefix}}/js/vp-cloudbrain-tasks.js?v={{MD5 AppVer}}"></script>
{{template "base/footer" .}}
